Repository hmcts/sptribs-case-api, pull requests merged in 2022-12, with the labels that each got.

#241 ST-751 Issue final decision journey start
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-241

#242 ST-916 Applicant email selection
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ApplicantDetails.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-242

#243 Feat/st 607
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/AmendOrderDueDates.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/SendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GetAmendDateAsCompleted.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-243

#246 ST-917 Controls moved to Util
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-246

#247 ST-760 Issue Final Decision Notice option
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionNotice.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/NoticeOption.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-247

#248 ST-655 Message fixed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-248

#249 ST-645 Page title fixed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseAdditionalDocument.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-249

#250 ST-761 Select decision notice
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinalDecisionTemplate.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-250

#251 ST-655 Message fixed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-251

#252 ST-760 Message added
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionNotice.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectTemplate.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-252

#258 ST-760 Message added
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionNotice.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-258

#260 ST-770-refactoring for roles
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-260

#261 Feat/st 791: Notification changes for Application Received status
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/NotificationResponse.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/NotificationType.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/EmailTemplatesConfigCIC.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ApplicationReceivedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationDispatcher.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/main/java/uk/gov/hmcts/sptribs/notification/PartiesNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/model/NotificationRequest.java
  src/main/resources/application.yaml
  src/main/resources/sampleFile.txt
  src/main/resources/sampleFile1.txt
  src/main/resources/test.pdf
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ApplicationReceivedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCICTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-261

#263 ST 768 Close Case in Draft State
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CloseCaseWarning.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CloseCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CloseCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-263

#264 ST-770-update-superuser-role-as-temporary
  config/owasp/suppressions.xml
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-264

#259 ST-580 Multiple orders
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/AmendOrderDueDates.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderAddDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderOrderDueDates.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderOrderIssuingSelect.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderSendReminder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderUploadOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Order.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
  src/main/java/uk/gov/hmcts/sptribs/recordlisting/LocationService.java
  src/main/java/uk/gov/hmcts/sptribs/recordlisting/RecordListingConstants.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderAddDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/OrderServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-259

#268 St 831 case issued notification
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCICTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-268

#266 ST-768 Improve workflow
  build.gradle
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CloseCaseReasonSelect.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CloseCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-266

#271 ST-854 Bundle file
  resources/bundle.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-271

#272 Feat/st 572
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-272

#270 Rename Case Types
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/CareStandards.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/CriminalInjuriesCompensation.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/DisabilityDiscrimination.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/MentalHealth.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/PrimaryHealthLists.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/SpecialEducationalNeeds.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/CcdCaseType.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/CcdServiceCode.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchService.java
  src/main/resources/cftlib-am-role-assignments.json
  src/test/java/uk/gov/hmcts/sptribs/CareStandardsTest.java
  src/test/java/uk/gov/hmcts/sptribs/DisabilityDiscriminationTest.java
  src/test/java/uk/gov/hmcts/sptribs/MentalHealthTest.java
  src/test/java/uk/gov/hmcts/sptribs/PrimaryHealthListsTest.java
  src/test/java/uk/gov/hmcts/sptribs/SpecialEducationalNeedsTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/CriminalInjuriesCompensationTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-270

#273 Fix for Notification error
  bin/add-cron.sh
  charts/sptribs-case-api/values.aat.template.yaml
  charts/sptribs-case-api/values.preview.template.yaml
  charts/sptribs-case-api/values.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/common/config/NotificationsConfiguration.java
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-273

#274 ST-604 Manage order due dates
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/AmendOrderDueDates.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageSelectOrderTemplates.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageSelectOrders.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderAddDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Order.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageDueDatesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageSelectOrdersTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/OrderServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-274

#275 Feat/st 638
  settings.gradle
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GetAmendDateAsCompleted.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-275

#276 Created Summary page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/AmendOrderDueDates.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageSelectOrders.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DateModel.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Order.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GetAmendDateAsCompleted.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderAddDraftOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-276

#277 St 932 v2
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/CareStandards.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/CriminalInjuriesCompensation.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/DisabilityDiscrimination.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/MentalHealth.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/PrimaryHealthLists.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/SpecialEducationalNeeds.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/CcdCaseType.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/CcdJurisdiction.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/CcdServiceCode.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/sptribs/payment/PaymentService.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchService.java
  src/test/java/uk/gov/hmcts/sptribs/CareStandardsTest.java
  src/test/java/uk/gov/hmcts/sptribs/DisabilityDiscriminationTest.java
  src/test/java/uk/gov/hmcts/sptribs/MentalHealthTest.java
  src/test/java/uk/gov/hmcts/sptribs/PrimaryHealthListsTest.java
  src/test/java/uk/gov/hmcts/sptribs/SpecialEducationalNeedsTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/CriminalInjuriesCompensationTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-277

#279 Feat/st 361
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-279

#280 Feat/st 793: Case stay Notification
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ApplicantDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/RepresentativeDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/SubjectDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ApplicationReceivedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseStayedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/EmailTemplateName.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/ApplicantDetailsTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/RepresentativeDetailsTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/SubjectDetailsTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ApplicationReceivedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseStayedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-280

#281 ST-709 Cancel hearing journey start
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CancelHearingDateSelect.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingDateSelect.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/HearingService.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-281

#282 Feat/st 664
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ContactPartiesCIC.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/PartiesToContact.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-282

#283 ST-831: Fixed error in qa for missing case subject name
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-283

#287 ST-714 Cancel hearing conformation page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/HearingService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/NotificationParties.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-287

#286 Feat/st 665
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/PartiesToContact.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-286

#288 ST-762 Initial Commit
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionNotice.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionPreviewTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinalDecisionTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/FinalDecisionTemplateContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/DocAssemblyResponse.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectTemplateTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/FinalDecisionTemplateContentTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-288

#289 Created check answers page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-289

#290 ST-710 Order changed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingCancellationReason.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-290

#291 Feat/st 680
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-291

#296 Feat/st 665
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ContactPartiesCIC.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/PartiesToContact.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-296

#292 Issue Decision choice
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-292

#298 ST-674: Removed Template functionality in Record listing journey
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SelectTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/UploadHearingNotice.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RecordListingTemplate.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-298

#294 Create hearing summary journey start
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingTypeAndFormat.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateHearingSummaryTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-294

#299 ST-700 Hearing Summary - hearing Type
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingTypeAndFormat.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/HearingService.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingSummaryHearingType.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-299

#305 St 969 - Correct hearing type list
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingTypeAndFormat.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingType.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-305

#306 Correct hearing date format
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/HearingService.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-306

#301 Feat/st 703
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionNotice.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DecisionTemplate.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-301

#310 Feat/st 680
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-310
