Repository hmcts/sptribs-case-api, pull requests merged in 2022-10, with the labels that each got.

#115 ST-670-fix-for-befta
  charts/sptribs-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
Labels: ns:sptribs, rel:sptribs-case-api-pr-115, prd:sptribs

#120 ST-651: Fixed PMD issue
  src/main/java/uk/gov/hmcts/sptribs/common/service/task/SendSubmissionNotifications.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-120

#128 ST-651: Removed 23 more redundant states and related code
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/task/SendApplicationIssueNotifications.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/task/SendApplicationIssueNotificationsTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-128

#126 St 660
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/CriminalInjuriesCompensation.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/CcdCaseType.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/CcdServiceCode.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-126

#125 ST-385-spoke-test [Do not merge]
  charts/sptribs-case-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/sptribs/smoke/SmokeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-125

#145 ST-815 Adding unit test class for SendSubmissionNotificationsTest
  src/test/java/uk/gov/hmcts/sptribs/common/service/task/SendSubmissionNotificationsTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/task/SetDateSubmittedTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-145

#149 ST-385- build problems
  infrastructure/appinsights.tf
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-149

#147 ST-816 Model Tests
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStay.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ConfidentialAddress.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/LegalProceedingsRelated.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/WhoPaysCostOrder.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStayTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/AcknowledgementOfServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/ApplicationTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/ApplicationTypeTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/CaseDocumentsTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/ConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/util/AlternativeServiceUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-147

#150 ST-816 Unit tests
  src/main/java/uk/gov/hmcts/sptribs/ciccase/CaseInfo.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/constant/ConditionalOrderCourtConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ConditionalOrderCourt.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/validation/ApplicationValidation.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ContactPreferenceDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/SelectParties.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/service/SolicitorCreateApplicationService.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdCaseDataContentProvider.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdConflictException.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdManagementException.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdUpdateService.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/ReissueProcessingException.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/config/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/CreateTestCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-150

#152 ST-816 Unit tests
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/util/SolicitorAddressPopulator.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/client/organisation/OrganisationClient.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/client/organisation/OrganisationContactInformation.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/client/organisation/OrganisationsResponse.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/client/pba/ContactInformationResponse.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/client/pba/DxAddressResponse.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/client/pba/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/client/pba/PbaOrganisationResponse.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/client/pba/PbaRefDataClient.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/client/pba/PbaService.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/client/pba/SuperUserResponse.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/service/CcdAccessService.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/service/SolicitorSubmitConfirmService.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/service/SolicitorUpdateApplicationService.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/service/task/AddMiniApplicationLink.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/service/task/DivorceApplicationDraft.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/service/task/InitialiseSolicitorCreatedApplication.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/service/task/SetApplicant1SolicitorAddress.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/service/task/SetApplicantGender.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/service/task/SetConfirmServiceDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/service/task/SolicitorCourtDetails.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerAddNoteTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-152
