Repository hmcts/sptribs-case-api, pull requests merged in 2022-11, with the labels that each got.

#157 ST-820: removed test class
  src/test/java/uk/gov/hmcts/sptribs/ciccase/util/SolicitorAddressPopulatorTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-157

#159 ST-815 Fixing SonarLint alerted code smells.
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCaseBuiltTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStayTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/TestStateChangeTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/util/AccessCodeGeneratorTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/config/advice/GlobalExceptionHandlerTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-159

#162 ST-804: Changed to allow add stay for case-stayed as well
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-162

#158 Feat/st 814: Added few unit tests to common package
  src/main/java/uk/gov/hmcts/sptribs/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/task/SetApplicant2Email.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/task/util/FileNameUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/ccd/PageBuilderTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/HoldingPeriodServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/task/SetApplicant2EmailTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-158

#161 ST-782 Message changed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-161

#164 ST-820: Added new JUnit tests
  src/test/java/uk/gov/hmcts/sptribs/document/DraftApplicationRemovalServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-164

#172 ST-851-CVE supression
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-172

#173 ST-853 - remove unwanted secret from chart
  charts/sptribs-case-api/values.yaml
  lib/applicationinsights.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-173

#174 ST-783 Message fixed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-174

#187 Feat/st 673: Record listing - Select template
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RecordListingTemplate.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-187

#188 ST-580 Select draft order
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderAddDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/SendOrder.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-188

#192 ST-593 Send orders summary
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderAddDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderUploadOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/OrderIssuingType.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-192

#191 ST-783 message fixed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-191

#193 Feat/st 662: Handle invalid Region/Hearing venue data
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-193

#194 ST-581 Due Date information field
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DateModel.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/SendOrder.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-194

#190 St 582 clean up code nfdiv
  charts/sptribs-case-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-190

#195 Feat/st 675: Record Listing - Upload Hearing Notice
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SelectTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/UploadHearingNotice.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-195

#176 ST-851 CVE fixes for tomcat and spring
  build.gradle
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-176

#197 ST-582: reverted some deleted vars to keep structure with TO Do comments
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-197

#203 ST-783 conformation page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-203

#205 ST-802 Send order send reminder
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderSendReminder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ReminderDays.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/SendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/YesNo.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-205

#206 Feat/st 604
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CreateDraftOrder.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-206

#215 ST-640 Issue case
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-215

#217 ST-580 multiple draft orders
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerDraftOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-217

#218 ST-783 Message Rolled back
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-218

#212 St 864 state transition v1.2
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-212

#219 ST-610 : fixes for GDS standards
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ApplicantCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ContactPreferencePartiesCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/PartiesCIC.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CaseCategorisationDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ContactPreferenceDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/DateOfReceipt.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/FurtherDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/RepresentativeDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/SelectParties.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/SubjectDetails.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/CreateTestCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-219

#221 Add Correct Alias for App Insihgts
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-221

#222 ST-581 Due date optional
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/OrderDueDates.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderOrderDueDates.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-222

#223 ST-595 Message font changed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-223

#224 ST-595 Message font changed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-224

#225 ST-645 Issue case add additional document
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseAdditionalDocument.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/AdditionalDocument.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssue.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-225

#227 Feat/st 595 Message Changed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  submission_error.patch
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-227

#228 ST-646 Issue Case Notify Page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
  submission_error.patch
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-228

#230 ST-653 Issue Case Summary
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-230

#232 Created a main content editable page on edit draft order
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-232

#234 Feat/st 571
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-234

#233 Feat/st 610
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ApplicantDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ContactPreferenceDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/FurtherDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/RepresentativeDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/SubjectDetails.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-233

#231 Feat/st 675: Record Listing: Validation for Hearing venue
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-231

#236 Created an edit draft order event message
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-236

#237 Document type definition added
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/DocumentType.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-237

#239 Feat/st 572
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-239
