Repository hmcts/sptribs-case-api, pull requests merged in 2023-02, with the labels that each got.

#459 ST-1014 Page Labels
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseBuilt.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CloseCaseReasonSelect.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CloseCaseWarning.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseAdditionalDocument.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageSelectOrders.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHaringNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHearingSelectReason.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RecordNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateReasonSelect.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateWarning.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RemoveStay.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderOrderIssuingSelect.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderSendReminder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderUploadOrder.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ContactPreferenceDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/EditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingAttendees.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/PartiesToContact.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-459

#461 ST-1058 State change after event
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-461

#462 ST-1057 Remove unnecessary action
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerChooseOutcome.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCloseTheCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestEventConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-462

#466 ST-1028 Revert changes that break integration tests.
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerAddNoteIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCreateGeneralLetterIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerIssueCaseIT.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/WebMvcConfig.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/interceptors/RequestInterceptor.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/interceptors/UnAuthorisedServiceException.java
  src/test/java/uk/gov/hmcts/sptribs/common/config/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/config/interceptors/RequestInterceptorTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-466

#467 Feat/st 774
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CloseCase.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/test/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-467

#464 [ST-1041]: Add E2E tests setup for creating and running UI tests on AAT environment
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Base.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCase.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/AssertionHelpers.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/DateHelpers.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/PageHelpers.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/StringHelpers.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-464

#469 ST-1016 Edit Listing Error
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-469

#471 Feat/st 844: Fix to issue with attach documents to Notification - Issue Decision
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-471

#472 Feat/st 840
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CancelHearingDateSelect.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-472

#473 Feat/st 844: Fix to add document links to template
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-473

#474 Feat/st 898
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinalDecisionTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/FinalDecisionTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectTemplateTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/FinalDecisionTemplateContentTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-474

#477 ST-794 Fix judicial ref data API url
  charts/sptribs-case-api/values.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-477

#478 ST-794 Bump Chart.yaml version
  charts/sptribs-case-api/Chart.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-478

#479 Feat/st 944
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinalDecisionTemplate.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-479

#480 Feat/st 844: Fix for error with multiple attachments in Notification
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-480

#481 Feat/st 553 rework
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DraftOrderMainContentCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/OrderTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/DraftOrderMainContentPage.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/PreviewDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/PreviewDraftOrderTemplateContent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/DraftOrderMainContentPageTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/OrderServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/PreviewDraftOrderTemplateContentTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-481

#483 ST-701 Additional Hearing Dates fix
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-483

#484 ST-1031 Labels changed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHaringNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RecordNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SelectRecipientsHelper.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderNotifyParties.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-484

#482 ST-794 Close case rework
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/HearingService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/main/java/uk/gov/hmcts/sptribs/recordlisting/LocationService.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-482

#486 Feat/st 844: Fix for multiple templates issue 2
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-486

#485 Feat/st 553 rework
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-485

#487 Feat/st 844: Code refactoring related to File attachments to notification
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/main/java/uk/gov/hmcts/sptribs/notification/model/NotificationRequest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NotificationHelperTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCICTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-487

#491 ST-963 Dynamiclist empty line
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/recordlisting/LocationService.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-491

#494 remove .showEventNote() method from event declaration .
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerPostponeHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStay.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/TestStateChange.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-494

#490 St 702 - create hearing summary
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingAttendeesRole.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingOutcome.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingAttendeesRolePage.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingOutcomePage.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-490

#493 ST-1066-Complex Type deployment error
  charts/sptribs-case-api/Chart.yaml
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-493, keep-helm

#496 ST-762 Token generation changed to logged in user
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/DraftOrderMainContentPage.java
  src/main/java/uk/gov/hmcts/sptribs/document/CaseDataDocumentService.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-496

#498 ST-704 - fixed typo
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingOutcome.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-498

#499 Feat/st 826: Case Withdrawn Notification
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/TemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCloseTheCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-499

#501 Feat/st 826: Fix for test error - Case Withdrawn Notification
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NotificationHelperTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-501

#502 Feat/st 723 - hearing tab
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTabTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-502

#503 ST-833 Merge hearing venue name and address
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ListingCreatedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ListingUpdatedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NotificationHelperTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-503

#510 ST-934 Issue Decision Main Content Page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionMainContent.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/DraftOrderMainContentPage.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/DecisionTemplateContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/DocmosisTemplateConstants.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/DecisionTemplateContentTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-510

#511 ST-707 Hearing summary confirmation message
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateHearingSummaryTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-511

#512 ST-980 Message Fixed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-512

#513 ST-934 Page Show Conditions
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/PageShowConditionsUtil.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-513

#515 St 702
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingAttendeesRolePage.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-515

#516 ST-762 Missing Templates
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinalDecisionTemplate.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-516

#527 St 705
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingRecordingUploadPage.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-527

#528 ST-1045 Draft order dynamic list
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderAddDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DraftOrderCIC.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/DraftOrderMainContentPage.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/EditDraftOrder.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/DraftOrderMainContentPageTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderAddDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/OrderServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-528

#529 Feat/st 723
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-529

#530 ST-1060-ccd-case-document-am-api integration for preview
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-530

#531 ST-997 Preview of draft orders removed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderAddDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-531

#533 ST-1067-TF version update
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/appinsights.tf
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-533

#535 ST-962 Pro forma template fields
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtil.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/FinalDecisionTemplateContent.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelperTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/FinalDecisionTemplateContentTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-535

#536 ST-972 , remove isEmail() method from ContactPreferenceType enum
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ContactPreferenceType.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ApplicationReceivedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CancelHearingNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseReinstatedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseStayedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseUnstayedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/HearingPostponedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ListingCreatedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ListingUpdatedNotification.java
Labels: ns:sptribs, prd:sptribs, add-or-update, rel:sptribs-case-api-pr-536

#537 ST-974 Add main content to draft order doc
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DraftOrderMainContentCIC.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/DraftOrderMainContentPage.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/PreviewDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/PreviewDraftOrderTemplateContent.java
Labels: ns:sptribs, prd:sptribs, add-or-update, rel:sptribs-case-api-pr-537

#539 St 705
  src/main/java/uk/gov/hmcts/sptribs/document/model/CICDocument.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-539

#538 ST-1052 , Create Case is currently coming through as a 'create-test-a…
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CaseworkerAddNoteTest.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/CreateTestCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-538

#540 ST-706 Add label for recording description
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingRecordingUploadPage.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-540

#542 Feat/st 723
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-542

#541 St 855 add bundling to case data
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/Bundle.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/BundleDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/BundleFolder.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/BundlePaginationStyle.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/DocumentImage.java
  src/main/java/uk/gov/hmcts/sptribs/document/dto/CicBundleDTO.java
  src/main/java/uk/gov/hmcts/sptribs/document/dto/CicBundleFolderDTO.java
  src/main/java/uk/gov/hmcts/sptribs/document/dto/CicValue.java
  src/test/java/uk/gov/hmcts/sptribs/document/bundling/BundleTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-541

#545 Feat/st 564
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Order.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/CriminalInjuriesCompensation.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTabTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-545

#543 ST-1080 staycase edit and remove + close case + case flags tests added
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCase.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateFlag.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-543

#548 ST-1025 Post address is mandatory for subject
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseLink.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseLinksElement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/LinkReason.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/SubjectDetails.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/SubjectDetailsTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-548

#550 Feat/st 845: Fix for Privileges error during CDAM call
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/test/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCICTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-550

#551 Feat/st 564
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/AmendOrderDueDates.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageSelectOrders.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/PreviewDraftOrder.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageDueDatesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-551

#552 St 948
  build.gradle
  src/main/java/uk/gov/hmcts/sptribs/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/PreviewDraftOrderTemplateContent.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-552

#555 ST-954 , Update document template dropdown list .
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/OrderTemplate.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-555

#557 Feat/st 564
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageSelectOrders.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-557

#567 Feat/st 846: Added missing template ids for New order Issued Notification
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-567

#566 ST-975 Remove Representative and/or Appilcant on edit case
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RecordNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ContactPreferencePartiesCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateHearingSummaryTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/RecordNotifyPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelperTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/CicCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-566

#568 ST-896 Page label
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionMainContent.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-568

#571 Feat/st 846: Added additional metadata to DocAssembly call
  src/main/java/uk/gov/hmcts/sptribs/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/DocAssemblyRequest.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocAssemblyServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-571

#573 ST-896 Main content label fix
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionMainContent.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionMainContent.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-573

#582 Feat/st 564
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DraftOrderCIC.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Order.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-582

#585 ST-1061 Implement alternative solution
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DraftOrderCIC.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/EditDraftOrder.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/EditDraftOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-585

#581 ST-1091-preview-configurations
  Jenkinsfile_CNP
  charts/sptribs-case-api/values.preview.template.yaml
  package.json
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-581

#586 ST-1025 rule change
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/SubjectDetails.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/SubjectDetailsTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-586

#587 St 966
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtil.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/DocmosisTemplateConstants.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/CreateDraftOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-587

#592 Feat/st 846: Fix for Decision Issued Notification
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCICTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-592

#596 ST-974 Save edited content to order
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DraftOrderCIC.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-596

#597 [ST-1081]: Fix the failing AAT e2e create case test for the changes in Subject details screen
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Base.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCase.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/PageHelpers.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-597

#598 Feat/st 996 Drfat order is no longer draft when sent
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageSelectOrders.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DraftOrderContentCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-598

#599 ST-1078 Add dss create event and case fields
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssCaseData.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/common/MappableObject.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/EdgeCaseDocument.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-599

#607 Suppress CVE causing false positive
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-607

#608 ST-1025 Town city validation for applicant and representative
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ApplicantDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/RepresentativeDetails.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/ApplicantDetailsTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/RepresentativeDetailsTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-608

#612 St 1080new tests
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCase.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactParties.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateFlag.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondent.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-612

#613 ST-1108 Manage order page order list
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/OrderServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-613

#617 ST-1074-nightly build
  Jenkinsfile_nightly
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-617

#622 internal update
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-622
