Repository hmcts/sptribs-case-api, pull requests merged in 2023-12, with the labels that each got.

#1545 ST-1688 Suppressing new CVE for Bouncycastle.
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1545

#1547 e2e tests work around for server error message
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DssCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToJudgeTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToLegalOfficerTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1547

#1473 ST-1051: Case Linking Feature
  Jenkinsfile_CNP
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/LinkCaseSelectCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/LinkReason.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseLinksDefaultAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseLinkedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseUnlinkedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/TemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerMaintainLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseLinksDefaultAccessTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseLinkedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseUnlinkedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1473

#1523 Case links Migration Task
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseLinks.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SystemMigrateCaseLinksTask.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseLinksTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SystemMigrateCaseLinksTaskTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1523

#1553 ST-1496: Fix fortify issues
  build.gradle
  config/fortify-client.properties
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1553

#1554 Updated Case links data migration task
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SystemMigrateCaseLinksTask.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SystemMigrateCaseLinksTaskTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1554

#1556 Case flags changes master: Reset case flags default value to true
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1556

#1563 ST-1388 Suppressing logback CVE-2023-6378 - an external dependency
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1563

#1562 Case links data migration: Updated default value to migration flag
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseFlags.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseLinks.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseFlagsTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseLinksTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1562

#1564 Add create flag and manage flags e2e tests
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CaseFlagTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateFlag.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/Actions.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/CaseParties.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1564

#1555 disable renovate automerge
  .github/renovate.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1555

#1561 Case flags: Removed party flags as per Edit Case Event
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1561

#1572 ST-1695: Hiding caseName displayed in Linked Cases
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1572

#1566 ST-1699 Bumping logback versions to 1.2.13
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1566

#1570 ST-1700: Fixed fortify issue reported on docker file
  Dockerfile
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1570

#1582 DTSSTCI-115: Enable metadata creation in CDAM for preview env while uploading a document
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1582

#1589 [ST-1079] Fix dss e2e tests
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/StringHelpers.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1589

#1584 ST-1051 Promoting flags to true on PROD for case flags and case linki…
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1584

#1590 ST-1051 Commenting out e2eTests
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1590

#1586 St 1051 - Unshuttering after migration
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1586

#1539 ST-1687
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssCaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/AosAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/Applicant2Access.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseworkerAccessOnlyAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseworkerCourtAdminAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseworkerCourtAdminWithSolicitorAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CitizenDocumentAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/OrganisationPolicyAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/SystemUpdateAndSuperUserAccess.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/AosAccessTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/Applicant2AccessTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseworkerAccessOnlyAccessTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseworkerCourtAdminAccessTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseworkerCourtAdminWithSolicitorAccessTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CitizenDocumentAccessTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/OrganisationPolicyAccessTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/SolicitorAndSystemUpdateAccessTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1539

#1264 St 1388 bundling fixes
  README.md
  build.gradle
  charts/sptribs-case-api/values.preview.template.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundle.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/client/BundlingService.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/Bundle.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/BundleDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/BundleFolder.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/BundleSubFolder.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/BundleSubFolder2.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/AbstractCaseworkerCICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseFlags.java
  src/main/resources/application.yaml
  src/main/resources/bundleconfiguration/st_cic_bundle_all_case.yaml
  src/test/java/uk/gov/hmcts/sptribs/document/bundling/BundlingServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseFlagsTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1264

#1592 ST-1687
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEvent.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1592

#1595 ST enabling DSS frontend feature
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1595

#1594 ST-1704
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/LinkCaseTests.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/DocumentManagementAmendDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/DocumentManagementSelectDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/CaseDocumentListUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmendTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1594

#1573 DTSSTCI-85
  build.gradle
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/CareStandards.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/DisabilityDiscrimination.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/MentalHealth.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/PrimaryHealthLists.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/SpecialEducationalNeeds.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/casetype/CareStandardsData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/casetype/DisabilityDiscriminationData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/casetype/MentalHealthData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/casetype/PrimaryHealthListsData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/casetype/SpecialEducationalNeedsData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesCS.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesDD.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesMH.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesPHL.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesSEND.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/CcdCaseType.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/CcdJurisdiction.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/CcdServiceCode.java
  src/test/java/uk/gov/hmcts/sptribs/CareStandardsTest.java
  src/test/java/uk/gov/hmcts/sptribs/DisabilityDiscriminationTest.java
  src/test/java/uk/gov/hmcts/sptribs/MentalHealthTest.java
  src/test/java/uk/gov/hmcts/sptribs/PrimaryHealthListsTest.java
  src/test/java/uk/gov/hmcts/sptribs/SpecialEducationalNeedsTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesCSTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesDDTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesMHtest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesPHLTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesSendTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/ConfigTestUtil.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1573

#1597 Moved Tribunal fields to Constants - Fix migrate tasks issue
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NotificationHelperTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1597

#1389 DTSSTCI 40
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerClearHearingOptionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerHearingOptionsFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-clear-hearing-options-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-hearing-options-about-to-start.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-hearing-options-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-hearing-options-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-clear-hearing-options-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-hearing-options-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-hearing-options-mid-event.json
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerClearHearingOptionsIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerHearingOptionsIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/testutil/PrdLocationWireMock.java
  src/integrationTest/resources/caseworker-clear-hearing-options-response.json
  src/integrationTest/resources/caseworker-hearing-options-about-to-start-response.json
  src/integrationTest/resources/caseworker-hearing-options-mid-event-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerClearHearingOptions.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerHearingOptions.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStay.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingVenues.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Listing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/SearchInputFields.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/recordlisting/LocationService.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerClearHearingOptionsTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerHearingOptionsTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelperTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/workbasket/WorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/sptribs/recordlisting/LocationServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1389

#1524 St 1663 : Applicant and Representative does not to show up after selection
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RespondentPartiesToContact.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/ErrorConstants.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/PartiesToContact.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1524

#1574 DTSSTCI-75 fix code smells
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseLinkedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseUnlinkedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/CcdSupplementaryDataService.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseFlags.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateOldHearing.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemMigrateCaseFlagsTask.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemMigrateCasesTask.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SystemMigrateCaseLinksTask.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerMaintainLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseLinksDefaultAccessTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/CcdSupplementaryDataServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CICDocumentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocumentTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1574

#1557 ST-1692
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStay.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCaseTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1557

#1588 [DTSSTCI-98] Update bcpkix, fix CVE-2023-33202
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1588

#1599 SNI-4318
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingAttendees.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Judge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Listing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/constants/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialClient.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCloseTheCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateHearingSummaryTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditHearingSummaryTest.java
  src/test/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1599

#1600 ST-1651
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/action/Case.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DynamicListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/workbasket/WorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/convert/CaseDetailsListConverter.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/StateTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1600

#1537 DTSSTCI-41: Validate all the documents as part of send order
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCloseTheCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateHearingSummaryTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmendTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/CaseUploadDocumentsTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingRecordingUploadPageTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocumentsTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderUploadOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1537

#1596 DTSSTCI-54
  build.gradle
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/util/Wiremock.java
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerChangeSecurityClassification.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseLinksElement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/ExtendedCaseDataService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/DocmosisTemplatesConfig.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/EmailTemplatesConfigCIC.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/interceptors/RequestInterceptor.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/task/SendSubmissionNotifications.java
  src/main/java/uk/gov/hmcts/sptribs/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/client/BundlingService.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/main/java/uk/gov/hmcts/sptribs/recordlisting/LocationService.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerChangeSecurityClassificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerAddNoteTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/ExtendedCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/OrderServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/config/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/config/interceptors/RequestInterceptorTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/task/SendSubmissionNotificationsTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/bundling/BundlingServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCICTest.java
  src/test/java/uk/gov/hmcts/sptribs/recordlisting/LocationServiceTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1596

#1607 [ST-1079]: add note e2e tests
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/AddNoteTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CaseFlagTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactPartiesTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateDraftOrderTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagementTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DssCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondent.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/LinkCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ManageOrderDueDateTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/SendOrdersTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCaseTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1607

#1608 DTSSTCI-243
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/test/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialServiceTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1608

#1619 SPTRIBS - Grant CitizenAccess
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/NotificationResponse.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1619

#1620 Feat/st 1714 Bundling Toggles
  Jenkinsfile_CNP
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerBundleStitchComplete.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloneBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStitchBundle.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1620

#1621 Bundling fix Exception
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/client/BundlingService.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1621

#1624 Bundling update event access - Toggled ON
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1624
