Repository hmcts/sptribs-case-api, pull requests merged in 2023-05, with the labels that each got.

#893 ST-1336 Flag disable for R1
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-893

#883 Changes for contact parties
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ContactPartiesSelectDocument.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RespondentPartiesToContact.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ContactPartiesDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ApplicantCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/PartiesToContact.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/TemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-883

#895 ST-1172
  Jenkinsfile_nightly
  build.gradle
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-895

#898 Rolled back all the 1196 changes
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingOutcomePage.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/PageShowConditionsUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/AdjournmentReasons.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingOutcome.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-898

#900 Feat/ST- 456 Manage flags update and save
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageFlagShowList.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageFlagUpdate.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-900

#899 ST-1172 Run e2eTests on preview with msedge
  Jenkinsfile_nightly
  build.gradle
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-899

#904 ST-1349 Fixing typo and code smell about String literal.
  src/main/java/uk/gov/hmcts/sptribs/services/CaseManagementService.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-904

#901 Feat/st 1196 release2
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-901

#906 Feat/st 1172
  Jenkinsfile_nightly
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-906

#907 ST-1342 Label fix
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-907

#909 ST-1345 History Tab
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-909

#914 ST-1345 History tab access rights
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditCicaCaseDetails.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerPostponeHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseBuilt.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerChangeSecurityClassification.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloneBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemove.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStay.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStitchBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentDocumentManagement.java
  src/test/java/uk/gov/hmcts/sptribs/exception/CaseCreateOrUpdateExceptionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-914

#915 ST-1120 Document type validation changed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionUploadNoticeTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-915

#917 Feat/code coverage 1
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-917

#918 ST-1357 Removing vaultOverrides for preview and prod.
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-918

#921 Update values.yaml
  charts/sptribs-case-api/Chart.yaml
  charts/sptribs-case-api/values.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-921

#922 ST-1348 Case list
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerAddNote.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-922

#923 ST-1343 Search results
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/CaseFieldsConstants.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/CicCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/workbasket/WorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/workbasket/WorkBasketResultFieldsTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-923

#925 Feat/st 1135: Document Management - Amend
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/DocumentManagementAmendDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/DocumentManagementSelectDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Order.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/CaseDocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DecisionDocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentManagementUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/OrderDocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/DocumentType.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmendTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-925

#928 Update InvalidResourceException.java
  src/main/java/uk/gov/hmcts/sptribs/exception/InvalidResourceException.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-928

#929 ST-1361 Order file duplication
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/OrderServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-929

#932 Bugfix/st 1362
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/cdam/model/Classification.java
  src/main/java/uk/gov/hmcts/sptribs/cdam/model/Document.java
  src/main/java/uk/gov/hmcts/sptribs/cdam/model/UploadResponse.java
  src/main/java/uk/gov/hmcts/sptribs/services/cdam/CaseDocumentApiService.java
  src/main/java/uk/gov/hmcts/sptribs/services/cdam/CaseDocumentClientApi.java
  src/main/java/uk/gov/hmcts/sptribs/services/cdam/DssCaseDocumentClient.java
  src/main/java/uk/gov/hmcts/sptribs/services/cdam/FeignSupportConfig.java
  src/test/java/uk/gov/hmcts/sptribs/services/cdam/CaseDocumentApiServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/cdam/DssCaseDocumentClientTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-932

#934 ST-677 Excel added to note
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ContactPartiesSelectDocument.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-934

#936 ST-1368 Fix citizen frontend integration
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/controllers/CaseManagementController.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/model/access/Permissions.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/controllers/CaseManagementControllerTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-936

#931 Added e2e test to Preview environment ST1360
  Jenkinsfile_CNP
  build.gradle
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-931

#941 Feat/st 1196 release2 new Adjourned reasons added
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-941

#939 ST-847: Updated the Notification logic for Contact parties
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotificationTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-939

#943 Feat/st 1196 release2
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingTypeAndFormat.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-943

#951 fix pipeline failure because of missing docker version
  build.gradle
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CaseworkerCloseCaseTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CreateCaseTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/EditCaseTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/StayCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-951

#950 ST-1369 Fixing SonarLint code smell
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-950

#952 Feat/st 1196 release2 bug fix send order and notification
  charts/sptribs-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingOutcomePage.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/AdjournmentReasons.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-952

#945 ST-1377: Added include documents page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-945

#953 Add DSS front end E2E tests
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Base.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DssCase.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DssCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/PageHelpers.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-953

#954 ST-1343 Due date calculation error
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-954

#955 spring config from dss backend added for doc upload
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-955

#956 ST-847: Pointing to Service_Name url
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-956

#957 Feat/st 1196 release2
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialClient.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/test/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-957

#960 Feat/st 847 1: Pointing to Change_Id specific urls in Preview yaml
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-960

#961 Feat/st 847 1: Added exception block for Contact Parties Notification
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-961

#963 ST-1381: Updated label name as its duplicate to the one defined in Ca…
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ApplicantDetails.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-963

#959 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-959

#969 ST-1408 citizen_sptribs_cic_dss role changed into citizen
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-969

#975 Update UserRole.java CRU update
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-975

#971 [ST-1081]: update and enable e2e tests
  Jenkinsfile_CNP
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Base.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactPartiesTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagement.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagementTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondentTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToJudgeTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/Actions.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/PageHelpers.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-971

#976 St 1358
  README.md
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-976

#977 St 1358
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-977

#979 ST-1385 DSS Integration Issues
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/ciccase/ConfigBuilderHelper.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/DocumentType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesCICTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesCSTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesDDTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesMHtest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesPHLTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesSendTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-979

#982 ST-1385 DSS integration
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEvent.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-982

#981 St 1358 es changes
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-981

#984 ST-1385 DSS integration
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEvent.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-984

#985 St 955 Large file upload
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-985
