Repository hmcts/sptribs-case-api, pull requests merged in 2023-08, with the labels that each got.

#1180 ST-1106: Added few more roles. Fixed the issue with displaying cases
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1180

#1183 Sptribs cic release 3 st 1548
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1183

#1182 Feat/st 1106 2: Removed PUI and Jrd role mappings
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1182

#1187 Feat/st 1106: Added role mapping to Citizen user
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1187

#1186 Sptribs cic release 3 st 1549
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseNumber.java
  src/main/java/uk/gov/hmcts/sptribs/common/links/LinkService.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1186

#1175 Add Link case tests
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/LinkCaseTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1175

#1188 Feat/st 1106 2: Updated few roles to Case events
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerChangeSecurityClassification.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1188

#1190 ST-443 Additonal message optional
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagAdditionalInfo.java
  src/main/java/uk/gov/hmcts/sptribs/flag/refdata/FlagTypeClient.java
  src/main/java/uk/gov/hmcts/sptribs/flag/service/FlagService.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/FlagServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1190

#1191 St-1490 smoke test, To test the search fields have correct options.
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1191

#1189 ST-1435 URL change
  charts/sptribs-case-api/values.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentClient.java
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1189

#1192 Feat/st 1406: Added Metadata for DSS Update Functionality
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssDocumentInfo.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssUploadedDocument.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1192

#1204 ST-1435 url
  Jenkinsfile_CNP
  charts/sptribs-case-api/values.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1204

#1205 ST-1428- small fix for representation notifcation
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/DssApplicationReceivedNotification.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1205

#1206 ST-1388 Casedocuments to payload
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundle.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1206

#1207 Feat/preview issue: Pointed to Preview role assignment service
  README.md
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1207

#1210 ST-1485 Remove documents message
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingRecordingUploadPage.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionUploadNotice.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderUploadOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/UploadCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CaseUploadDocuments.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1210

#1215 ST-824 unlinked notification
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseUnlinkedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/TemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseUnlinkedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1215

#1217 ST-1388 Bundling documents
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundle.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1217

#1221 Demo e2e working
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactPartiesTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateDraftOrderTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateFlag.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagementTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DssCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondentTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/LinkCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ManageOrderDueDateTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/SendOrdersTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCaseTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1221

#1220 Update bundling preview dependencies
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1220

#1222 ST-1048 Access profile added
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1222

#1223 ST-1048 Further tweaks to userroles and access profiles
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1223

#1168 ST-1382 Multiple hearings
  charts/sptribs-case-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1168

#1225 Feat/st 1051 1: Few more changes for Case Linking
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1225

#1226 Demo e2e working
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactPartiesTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateDraftOrderTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateFlag.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagementTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondentTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/CaseParty.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/CasePartyContactPreference.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/ContactPreference.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1226

#1227 Feat/st 1382: Added prefix to Listing object
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1227

#1228 ST-1406: Update Jenkins file to disable Functional test
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1228

#1231 1566 - labels changes
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1231

#1232 Feat/st 1406: Added New DSS Update case event
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/AppsConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1232

#1233 ST-1570 Adding renovate config
  renovate.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1233

#1236 Feat/st 1051 linking: Added few more attributes to ARGUMENT option
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1236

#1237 ST-1570 Adding renovate config
  renovate.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1237
