Repository hmcts/sptribs-case-api, pull requests merged in 2023-01, with the labels that each got.

#311 ST-710 Cancel Reason Radio button
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CancelHearing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-311

#313 ST-714 Message Fixed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-313

#312 ST-701- screen for 'Hearing location and duration'
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateHearingSummaryTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-312

#308 Feat/st 763
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinalDecisionRecipientRepresentativeCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinalDecisionRecipientRespondentCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinalDecisionRecipientSubjectCIC.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectRecipientsTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-308

#315 Feat/st 664
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-315

#314 ST-964 Contact Preference Type Check
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ContactPreferenceType.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ApplicantDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/RepresentativeDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/SubjectDetails.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/ApplicantDetailsTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/RepresentativeDetailsTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/SubjectDetailsTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-314

#317 Feat/st 767
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionPreviewTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueFinalDecision.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-317

#319 Feat/st 973: Removed few more unused files
  src/integrationTest/java/uk/gov/hmcts/sptribs/document/content/GeneralOrderTemplateContentIT.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/task/GenerateDivorceApplication.java
  src/main/java/uk/gov/hmcts/sptribs/document/DraftApplicationRemovalService.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/CoversheetApplicant1TemplateContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/CoversheetApplicant2TemplateContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/CoversheetSolicitorTemplateContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/DivorceApplicationJointTemplateContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/DivorceApplicationSoleTemplateContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/DraftApplicationTemplateContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/GeneralOrderTemplateContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/NoticeOfProceedingContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/NoticeOfProceedingSolicitorContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/RespondentAnswersTemplateContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/task/DivorceApplicationRemover.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/task/GenerateDivorceApplicationTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/DraftApplicationRemovalServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/CoversheetApplicant1TemplateContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/CoversheetApplicant2TemplateContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/CoversheetSolicitorTemplateContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/DivorceApplicationJointTemplateContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/DivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/DraftDivorceApplicationSoleTemplateContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/NoticeOfProceedingContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/NoticeOfProceedingSolicitorContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/RespondentAnswersTemplateContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/task/DivorceApplicationRemoverTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-319

#302 Feat/st-933 Add changes to facilitate st-super specials superuser
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-302

#307 Feat/st 711
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionUploadNotice.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-307

#320 ST-714 fixed status change
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-320

#321 ST-767 Remove redundant text
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-321

#322 Feat/st 682
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelperTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-322

#325 ST-939-new roles added
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-325

#328 ST-977-Conditionally cleanup helm releases on PRs
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-328

#329 ST-831: respondent mail issue fixed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-329

#331 ST-767 Remove "via email" from text
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-331

#334 Feat/st 682
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-334

#333 ST-831: rolledback cica ref changes for change in story
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-333

#327 ST-712 Select recipients
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionUploadNotice.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueDecision.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipientsTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-327

#335 Feat/st 680
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-335

#338 Feat/st 682
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-338

#336 ST-958-cdam-local-config
  docker-compose.yml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-336

#337 ST-763 Select Recipients labels
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectRecipientsTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-337

#343 Feat/st 682
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/CriminalInjuriesCompensation.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-343

#344 ST-701 Hearing venue readonly
  build.gradle
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-344

#342 ST-702 changes for create hearing summary- hearing attendees
  charts/sptribs-case-api/values.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FullPanelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/PanelMember.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/PanelMembersRole.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingAttendees.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialClient.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialUsersRequest.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/model/AppointmentRefreshResponse.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/model/AuthorisationRefreshResponse.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/model/UserProfileRefreshResponse.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateHearingSummaryTest.java
  src/test/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-342

#341 ST-715 part of Issue Decision functionality
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueDecision.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipientsTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-341

#345 ST-978-vault-override-has-been-added
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-345

#347 Feat/st 941
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DraftOrderCIC.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DraftOrderMainContentCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/DraftOrderMainContentPage.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-347

#350 St 978-removed-jenkinsfile-override-and-localdocker compsose config
  Jenkinsfile_CNP
  docker-compose.yml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-350

#351 ST-720 Reason for postponement
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerPostponeHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHearingSelectReason.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/PostponeReason.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-351

#354 ST-721 check answers
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerPostponeHearing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-354

#352 Feat/st 689
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ListingChangeReason.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RecordNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/RecordNotifyPartiesTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-352

#356 ST-685 Split text into two paragraphs
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-356

#358 ST-702 fixed the typo
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FullPanelHearing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-358

#359 ST-701 Hearing Venue display
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-359

#360 ST-841 Postpone Hearing notify parties
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerPostponeHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHaringNotifyParties.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerPostponeHearingTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-360

#361 ST-691 Edit record listing confirmation message
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-361

#365 ST-720 Reasons for postponement
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHearingSelectReason.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-365

#367 ST-841 Notify parties
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHaringNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHearingSelectHearing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-367

#368 Feat/st 682
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListingTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-368

#370 ST-685 Change labels as per ticket screenshots
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-370

#372 ST-722 Postpone conformation page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerPostponeHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerPostponeHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-372

#366 Feat/st 844: Notification for Issue Decision and CDAM api call - PR build fixed
  Jenkinsfile_CNP
  build.gradle
  charts/sptribs-case-api/Chart.yaml
  charts/sptribs-case-api/values.preview.template.yaml
  charts/sptribs-case-api/values.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/task/GenerateD10Form.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/jackson/InternalHealthDeserializer.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/jackson/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/document/CaseDocumentClient.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentManagementClient.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/main/java/uk/gov/hmcts/sptribs/notification/TemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/task/GenerateD10FormTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-366

#375 Fix required - Record and Edit listing (Listing Details)
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-375

#374 Feat/st 940
  Jenkinsfile_CNP
  docker-compose.yml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHaringNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHearingSelectHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DraftOrderCIC.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FullPanelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/OrderTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/EditDraftOrder.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/OrderServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-374

#381 ST-1016 Error fixes
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-381

#376 ST-908
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-376

#377 ST-838: fixed hearing venue issue
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ListingUpdatedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ListingUpdatedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-377

#384 ST-1016 Edit Page fix
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListingTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-384

#386 Feat/st 844: Code updated just for testing in AAT environment
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-386

#383 ST-691 Correct notification message
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-383

#385 ST-909
  charts/sptribs-case-api/Chart.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-385

#388 Feat/st 935
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipientsTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-388

#390 St 833 hearing info venue fix
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NotificationHelperTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-390

#391 Feat/st 844: Added few more roles for AAT env in Create Case
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-391

#389 Feat/st 937
  build.gradle
  settings.gradle
  src/main/java/uk/gov/hmcts/sptribs/ciccase/CriminalInjuriesCompensation.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-389

#393 ST-841 Message
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHaringNotifyParties.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-393

#394 ST-773 Add Close case withdrawal details screen
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CloseCaseWithdrawalDetails.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CloseCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-394

#395 Feat/st 940
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseBuilt.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/EditDraftOrder.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/OrderServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-395

#396 Feat/st 842: Cancel Hearing Notification
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CancelHearingNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/TemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CancelHearingNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-396

#397 Feat/st-910
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-397

#392 ST-938 refactoring for access profile config
  build.gradle
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-392

#400 ST-1016 Edit Page fix
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-400

#405 ST-936-github actions for e2e and integration tests
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/renovate.json
  .github/stale.yml
  .github/workflows/ci.yml
  Jenkinsfile_CNP
  bin/clone-vaults.sh
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-405

#403 ST-833: fixed QA issues
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NotificationHelperTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-403

#421 ST-1016 Dynamiclist Error
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/HearingVenues.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-421

#423 St 1033
  src/integrationTest/java/uk/gov/hmcts/sptribs/solicitor/SolicitorConfirmServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/solicitor/service/CcdAccessServiceIT.java
  src/integrationTest/resources/caseworker-add-note-response.json
  src/integrationTest/resources/caseworker-issue-case-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CorrectPaperCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CorrectRelationshipDetails.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/task/SetServiceType.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/AcknowledgementOfService.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/AlternativeService.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/AlternativeServiceMediumType.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/AlternativeServiceOutcome.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/AlternativeServiceType.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/Applicant.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ApplicantPrayer.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralReferral.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseAccessAdministratorSearchTab.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/ProcessConfidentialDocumentsService.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/task/SetApplicantOfflineStatus.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/task/SetSubmissionAndDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/provider/ApplicantTemplateDataProvider.java
  src/main/java/uk/gov/hmcts/sptribs/notification/CommonContent.java
  src/main/java/uk/gov/hmcts/sptribs/notification/TemplateName.java
  src/main/java/uk/gov/hmcts/sptribs/solicitor/service/CcdAccessService.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/CorrectPaperCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/CorrectRelationshipDetailsTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/task/SetServiceTypeTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/AcknowledgementOfServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/ApplicantPrayerTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/ApplicantTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/task/CaseTaskRunnerTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/util/AlternativeServiceUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/ProcessConfidentialDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/task/SetApplicantOfflineStatusTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/task/SetSubmissionAndDueDateTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/provider/ApplicantTemplateDataProviderTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/CommonContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/payment/PaymentServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-423

#404 ST-712 reworked
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ContactPartiesCIC.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipientsTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-404

#428 ST-980nConformation pages made simple
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStay.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinalDecisionRecipientRepresentativeCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinalDecisionRecipientRespondentCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinalDecisionRecipientSubjectCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/NotificationParties.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RespondantCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RespondentCIC.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectRecipientsTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-428

#424 Feat/st 844: Updated token generation logic - CDAM call
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-424

#427 St 1028
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/config/interceptors/RequestInterceptorIT.java
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/Application.java
  src/main/java/uk/gov/hmcts/sptribs/payment/FeesAndPayConstants.java
  src/main/java/uk/gov/hmcts/sptribs/payment/FeesAndPaymentsClient.java
  src/main/java/uk/gov/hmcts/sptribs/payment/FeesAndPaymentsUtil.java
  src/main/java/uk/gov/hmcts/sptribs/payment/PaymentPbaClient.java
  src/main/java/uk/gov/hmcts/sptribs/payment/PaymentService.java
  src/main/java/uk/gov/hmcts/sptribs/payment/model/CreditAccountPaymentRequest.java
  src/main/java/uk/gov/hmcts/sptribs/payment/model/CreditAccountPaymentResponse.java
  src/main/java/uk/gov/hmcts/sptribs/payment/model/FeeResponse.java
  src/main/java/uk/gov/hmcts/sptribs/payment/model/Payment.java
  src/main/java/uk/gov/hmcts/sptribs/payment/model/PaymentItem.java
  src/main/java/uk/gov/hmcts/sptribs/payment/model/PaymentStatus.java
  src/main/java/uk/gov/hmcts/sptribs/payment/model/PbaErrorMessage.java
  src/main/java/uk/gov/hmcts/sptribs/payment/model/PbaResponse.java
  src/main/java/uk/gov/hmcts/sptribs/payment/model/StatusHistoriesItem.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/ApplicationTest.java
  src/test/java/uk/gov/hmcts/sptribs/payment/FeesAndPaymentsUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-427

#429 St 1033
  build.gradle
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/task/SetDueDateAfterIssue.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/task/SetIssueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/task/SetReIssueAndDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/Applicant2Represented.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/Application.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ApplicationType.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/Jurisdiction.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/LabelContent.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/ApplicationTab.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseAccessAdministratorSearchTab.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/validation/ValidationUtil.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/SubmissionService.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/task/SetDateSubmitted.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/provider/ApplicationTemplateDataProvider.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/task/SetDueDateAfterIssueTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/task/SetIssueDateTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/task/SetReIssueAndDueDateTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/ApplicationTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/ApplicationTypeTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/JurisdictionTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/task/SetDateSubmittedTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/task/SetStateAfterSubmissionTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/FinalDecisionTemplateContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/provider/ApplicationTemplateDataProviderTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-429

#433 ST-1033 Delete more divorce classes
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseInvite.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ChangedNameHow.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ConditionalOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ConditionalOrderCourt.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ConditionalOrderQuestions.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/CaseDocumentsTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/ConditionalOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/CreateTestCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-433

#435 ST-1013 Event Names
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerPostponeHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseBuilt.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStay.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-435

#436 ST-1033 Remove divorce-related fields/classes
  src/integrationTest/resources/caseworker-add-note-response.json
  src/integrationTest/resources/caseworker-issue-case-response.json
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ClarificationReason.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ClarificationResponse.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ContactDetailsType.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CostOrderList.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/Court.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CtscContactDetails.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DivorceOrDissolution.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DocumentsServedBeingThe.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DocumentsServedHow.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DocumentsServedWhere.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FeeDetails.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinalOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FinancialOrderFor.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralApplication.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralReferral.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/Jurisdiction.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/LabelContent.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/LegalAdvisorDecision.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/PaperFormDetails.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/SolicitorService.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/provider/ApplicantTemplateDataProvider.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/FinalOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/JurisdictionTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-436

#437 Feat/st 844: Fixed Sonar issue and remove suppress warnings
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipientsTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-437

#438 St 1033
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/ConfigBuilderHelper.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/FullPanelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/Gender.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralApplication.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralApplicationFee.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralApplicationType.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralEmail.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralEmailDetails.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralLetter.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralLetterDetails.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralOrderDivorceParties.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralOrderJudgeOrLegalAdvisorType.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralParties.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralReferral.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralReferralDecision.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralReferralReason.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/GeneralReferralType.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HelpWithFees.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HowToRespondApplication.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/JudgeCostsClaimGranted.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/JurisdictionConnections.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/LabelContent.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/MarriageDetails.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/MarriageFormation.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/NoticeOfChange.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/NotificationResponse.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/PaperCasePaymentMethod.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/PaperFormDetails.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ProgressPaperCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RefusalOption.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ReissueOption.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RejectReason.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RejectReasonType.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RejectionReason.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ServiceMethod.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ServicePaymentMethod.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/Solicitor.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/SolicitorPaymentMethod.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/SolicitorService.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/validation/ValidationUtil.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/SolicitorTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/validation/CaseValidationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-438

#441 ST-1033 Delete last couple of divorce model classes
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/Subject.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/WhoDivorcing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-441

#442 Feat/st 844: Updated Issue Recipients page - Issue Decision Page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueDecisionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-442

#443 Add respondent ccd role
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-443

#445 Feat/st 844: Reverted changes done to test Issue Recipients page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueDecisionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-445

#447 ST-1031 Recipient Labels
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHaringNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RecordNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderNotifyParties.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-447

#448 Feat/st 844: Updated code to attach multiple documents to Notification
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-448

#452 Feat/st 844: Added text before each document link
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-452

#426 ST-936-playwright-integration-first-E2E test
  .github/workflows/ci.yml
  build.gradle
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CaseworkerAddNoteTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/XuiTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/util/PlaywrightHelpers.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/util/Wiremock.java
  src/main/resources/cftlib-am-role-assignments.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-426

#455 Feat/st 844: Fixed issue with indexing
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-455

#457 St1028 common folder
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerAddNoteIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCreateGeneralLetterIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerIssueCaseIT.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/EmailTemplatesConfig.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/PropertyConfiguration.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/WebMvcConfig.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/interceptors/RequestInterceptor.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/interceptors/UnAuthorisedServiceException.java
  src/main/java/uk/gov/hmcts/sptribs/common/exception/InvalidCcdCaseDataException.java
  src/test/java/uk/gov/hmcts/sptribs/common/config/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/config/interceptors/RequestInterceptorTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-457
