Repository hmcts/sptribs-case-api, pull requests merged in 2023-10, with the labels that each got.

#1304 Feat/st 1051: Fix for Maintain Case links
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/DefaultAccess.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/DefaultAccessTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1304

#1312 Feat/st 1048 flags: Removed EventNotes to Create Case Flags
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1312

#1317 ST-824 : Case Unlinked (CIC)
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1317

#1325 ST-1290-WA-admin-task-complete-hearing-outcome
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1325

#1326 Sptribs cic release 3 wa flexdb
  charts/sptribs-case-api/Chart.yaml
  charts/sptribs-case-api/values.preview.template.yaml
  charts/sptribs-case-api/values.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1326

#1318 SNI-4754: Resolve issue causing send order notification not to send
  charts/sptribs-case-api/values.aat.template.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1318

#1339 SN-4754: Remove toggles after testing in AAT
  charts/sptribs-case-api/values.aat.template.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1339

#1345 SNI-4754
  charts/sptribs-case-api/Chart.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1345

#1349 ST-1638 Added new role caseworker-update-dss-application for dss update case
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CitizenAccess.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CitizenAccessTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1349

#1350 Demo e2e working
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Base.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateFlag.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateFlagTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagementTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/Actions.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1350

#1351 Feat/st 1638 Added missing access profile for new role
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1351

#1352 Sptribs cic release 3 merge fix 12 10
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1352

#1353 Feat/st 1638 Added entry for role in high level data set up app
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1353

#1354 ST-1606 Setting CONTACT_PARTIES_FEATURE to true.
  Jenkinsfile_CNP
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1354

#1356 st-1638 reverted changes for role caseworker-update-dss-application
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CitizenAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CitizenAccessTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1356

#1360 Suppress CVE-2023-42794, CVE-2023-42795, CVE-2023-45648
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1360

#1359 Resolved merged conflicts from master
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1359

#1358 st-1638 SYSTEMUPDATE has been given permission to update dss fields
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/DSSUpdateAccess.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/DSSUpdateAccessTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1358

#1363 st-1638 SYSTEMUPDATE role has been given access to all the case states
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/DefaultAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/DefaultAccessTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1363

#1365 Add cica edit case details e2e test and fix-enable contact parties e2e test
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactPartiesTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/EditCicaCaseDetailsTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/Actions.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1365

#1366 st-1638 SYSTEMUPDATE user has been given access to all the case states
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/DefaultStateAccessExcludingCAA.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/DefaultStateAccessExcludingCAATest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1366

#1362 ST-1640: Case Linking date issue
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1362

#1368 ST-1644 : Respondent Error
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RespondentPartiesToContact.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1368

#1370 St 1644: text change
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1370

#1371 Suppress CVE-2023-5072, CVE-2023-44487
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1371

#1369 st-1638 new event created for DSS update case
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDssUpdateCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/AppsConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDssUpdateCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1369

#1364 DTSSTCI-14
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/LegalAdvisorAccess.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1364

#1374 st-1649 Suppressing CVE-2023-5027, and bumping Tomcat versions to add…
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1374

#1375 st-1649 Suppressing CVE-2023-5027, and bumping Tomcat versions to add…
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1375

#1376 Link case tests
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/LinkCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/Actions.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1376

#1378 St 1644
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1378

#1372 SNI-4875
  charts/sptribs-case-api/values.aat.template.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ContactPartiesSelectDocument.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ContactPartiesDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/main/java/uk/gov/hmcts/sptribs/notification/TemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NotificationHelperTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1372

#1379 ST-1647: Fix for validation error - Case Linking
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1379

#1381 ST-1048 Turning CaseFlags On for AAT.
  Jenkinsfile_CNP
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1381

#1382 add and fix/enable e2e tests for document management, contact parties and issue to respondent journeys
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactPartiesTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagement.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagementTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondentTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/Actions.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/PageHelpers.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1382

#1383 SNI-4875
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/PartiesToContact.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1383

#1380 SNI-4875
  charts/sptribs-case-api/values.aat.template.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1380

#1385 Feat/st 1391
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDssUpdateCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1385

#1386 st-1391 Changes for setting update case metadata in CreateTestCase event
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtil.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1386

#1387 St 1645: removing mp3 files from contact parties
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1387

#1388 ST-1581 Adding missing sendToApplicant method.
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CancelHearingNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1388

#1390 ST-1567 Adding tests for Applicant Cancel Hearing notification
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CancelHearingNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1390

#1392 ST-1567 Using CollectionUtils to cater for null sets.
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1392

#1393 st-1662 - fix for case flags missing in edit case
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1393

#1394 Add e2e test for remove docs event
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagement.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagementTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1394

#1395 fix for bug st-1660 st-1661
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1395

#1397 Remove send letter client as not used in app
  build.gradle
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1397

#1391 CVE fixes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, do-not-merge, rel:sptribs-case-api-pr-1391
