Repository hmcts/sptribs-case-api, pull requests merged in 2023-09, with the labels that each got.

#1238 Revert "Feat/st 1048: Added supplementary_id in aboutToStart method"
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1238

#1239 Feat/st 1051 linking: Added caseNameHmctsInternal attribute in CaseTypeTab
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseFlagsAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1239

#1240 St 1567 - Notification fail message on case creation page
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1240

#1243 St 1573 fix CVE 2023 41080
  build.gradle
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1243

#1242 St fix bundling list values fix
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/DocumentManagementSelectDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1242

#1244 ST-1574 Fixing Jenkins warning
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1244

#1247 Sptribs cic release 3 resolve conflicts
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssDocumentInfo.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssUploadedDocument.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentType.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/constants/CaseType.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/event/EventEnum.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/model/access/Permissions.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/task/CaseTaskRunner.java
  src/main/java/uk/gov/hmcts/sptribs/exception/InvalidResourceException.java
  src/main/java/uk/gov/hmcts/sptribs/model/ContactPreference.java
  src/main/java/uk/gov/hmcts/sptribs/model/PaymentStatus.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1247

#1248 Feat/st 1048 flags: Updated FlagDetails attribute types
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/FlagDetail.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1248

#1246 ST-Adding logging of payload for Bundling events.
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloneBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStitchBundle.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1246

#1249 Feat/preview access profiles: Added caseworker_admin role to HighLevelDataSetUp file
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1249

#1250 Feat/st 1048 flags: Enabled sending supplementary_data_request
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/FlagDetail.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/CcdSupplementaryDataService.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/CcdSupplementaryDataServiceTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1250

#1106 Feat/sni 4172 prod
  .github/workflows/ci.yml
  build.gradle
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RecordNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RespondentPartiesToContact.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SelectRecipientsHelper.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/ErrorConstants.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtil.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ContactPreferenceDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/PartiesToContact.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/SelectParties.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/CreateTestCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1106

#1252 Feat/st 1048: Fix to set supplementary_data
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/CcdSupplementaryDataService.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/CcdSupplementaryDataServiceTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1252

#1253 ST-1388 Push fixes to preview yaml config
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1253

#1256 SNI-4576 Applying changes to sptribs_cic_release_3
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1256

#1257 test fixed
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1257

#1267 Feat/st 1051 Fix for Case Linking
  build.gradle
  charts/sptribs-case-api/values.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1267

#1271 ST-1605: Hearing Outcome display in Hearings Tab
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CancelHearingReasonSelect.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingOutcomePage.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHearingSelectReason.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Listing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1271

#1272 Feat/st 1598
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1272

#1274 Feat/st 1605 hearings: Fix for issue with postpone Reason
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerPostponeHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHearingNotifyParties.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerPostponeHearingTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1274

#1275 ST-1388 Fixing renovate config
  .github/renovate.json
  renovate.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1275

#1276 ST-1388 Fixing renovate config
  .github/renovate.json
  renovate.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1276

#1273 SNI-4699: Fix - Order documents on CFV being duplicated
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/OrderServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1273

#1284 ST-1051: Setting caseNameHmctsInternal field
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1284

#1279 ST-1598 Applicant emails fixes
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseReinstatedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ListingCreatedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCloseTheCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelperTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseReinstatedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ListingCreatedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1279

#1288 Feat/st 1048 - Changes for Case Flags and Case Links
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Flags.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlagTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1288

#1289 St 1610 fix docker problem
  charts/sptribs-case-api/Chart.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1289

#1295 St1610 fixing acr problem wa
  charts/sptribs-case-api/Chart.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1295

#1299 Feat/st 1048 flags: Pointed to latest version of ccd-config-generator
  build.gradle
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1299

#1292 ST-1610 Chart changes to fix Docker problem
  charts/sptribs-case-api/Chart.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1292

#1298 ST- Enabling contact parties on PROD.
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1298

#1300 ST-792 : Case Linked
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1300
