Repository hmcts/sptribs-case-api, pull requests merged in 2023-11, with the labels that each got.

#1401 st-1391 fix for cases created from case-api not working in dss-update
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtil.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1401

#1421 ST-1382 Remove Police Authority field from CicCase
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1421

#1428 text fix for contact parties
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ContactPartiesSelectDocument.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1428

#1424 ST-1382 Setting up migrations for hearing
  Jenkinsfile_CNP
  settings.gradle
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCase.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/SystemMigrateCasesTask.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/BaseMigration.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/Migration.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/MigrateRetiredFields.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SetFailedMigrationVersionToZero.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdCaseDataContentProvider.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdConflictException.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdManagementException.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchService.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdUpdateService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/BaseMigrationTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemMigrateCasesTaskTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/MigrateRetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SetFailedMigrationVersionToZeroTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdCaseDataContentProviderTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/ConfigTestUtil.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1424

#1439 St 1382 reversing retired fields
  README.md
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RetiredFields.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1439

#1440 Added SYSTEMUPDATE role in DefaultAccess
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/DefaultAccess.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/DefaultAccessTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1440

#1453 WA-task-creation for legal ops
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToLegalOfficerAdditionalInfo.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1453

#1456 ST-1382 Adding some access role and access changes.
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseworkerAndSuperUserAccess.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseworkerAndSuperUserAccessTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1456

#1462 ST-1651- Manage documents shows URL
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1462

#1464 Fix calls to JRD API
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialClient.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/test/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1464

#1466 St 1382 system update access to fields
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingTypeAndFormat.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseNote.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseStay.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CloseCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DateModel.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Listing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Order.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RemoveCaseStay.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssUploadedDocument.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CollectionDefaultAccess.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/Bundle.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/BundleDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/BundleFolder.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/DocumentImage.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/MultiBundleConfig.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/EdgeCaseDocument.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCase.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CollectionDefaultAccessTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1466

#1373 Made upload tribunal forms in create case mandatory.
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CaseUploadDocuments.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1373

#1416 SNI-4236: Added Legal officer template for orders
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateDraftOrderTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DraftOrderTemplate.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/DraftOrderTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/OrderTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/DocmosisTemplateConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/DocmosisTemplateHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/DocmosisTemplateHelperTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1416

#1468 Enable toggle for JRD API so we can move from v1 to v2 as required
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/common/config/ControllerConstants.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialClient.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1468

#1480 ST 1660 - persistent message field fixed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1480

#1477 ST-1382 - fixed Edit summary not getting stored issue
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-cancel-hearing-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-cancel-hearing-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/HearingService.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1477

#1488 St 1644 - contact parties fix
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotificationTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1488

#1505 Update App insights agent and remove dependabot as renovate is configured in repo
  .github/dependabot.yml
  Dockerfile
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1505

#1482 DTSSTCI-51
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderUploadOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/UploadCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CaseUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CICDocumentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocumentTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1482

#1321 SNI-4675 (PR into master branch)
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemove.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1321

#1322 SNI-4675 / DTSSTCI-24 (PR into release v3 branch)
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemove.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1322

#1355 DTSSTCI-4
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentUtil.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocumentUtilTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1355

#1493 DTSSTCI-53
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/SearchInputFields.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1493

#1510 ST-1079: fix document management e2e tests and add note e2e test
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/AddNoteTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactPartiesTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagementTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/files/sample_doc_file_3.doc
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/files/sample_pdf_file_3.pdf
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1510

#1508 St 1051: Fix for Case links type
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseLinksElement.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1508

#1515 SNI-4966
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerSendOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-send-order-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-send-order-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1515

#1517 Revert "SNI-4966 (#1515)"
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerSendOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-send-order-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-send-order-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1517

#1518 Fix and enable e2e tests on master pipeline
  Jenkinsfile_CNP
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Base.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateDraftOrderTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DssCase.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/Actions.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/DraftOrderTemplate.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1518

#1520 Sptribs cic release 2 21 october2023 rebase master
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/resources/application.yaml
  src/main/resources/bundleconfiguration/st_cic_bundle_all_case.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1520

#1519 SNI-4966
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerSendOrderFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-send-order-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-send-order-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1519

#1527 Update hearing tests with correct judicial data
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecisionTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1527

#1526 Fix case api cross-browser e2e tests on master nightly pipeline
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1526

#1414 St 1048 case flags
  build.gradle
  charts/sptribs-case-api/Chart.yaml
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagAdditionalInfo.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagLevel.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagTypePage.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/FlagType.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseFlagsAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/CcdSupplementaryDataService.java
  src/main/java/uk/gov/hmcts/sptribs/config/CaseFlagsConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/CreateTestCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/CcdSupplementaryDataServiceTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1414

#1498 Case flags data migration
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseFlags.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemMigrateCaseFlagsTask.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseFlagsTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemMigrateCaseFlagsTaskTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1498

#1516 DTSSTCI-67: Handling CCD definition import failure
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1516

#1509 SNI-4951: Case referrals related changes
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudgeTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficerTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTabTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1509

#1529 Revert "SNI-4951: Case referrals related changes"
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudgeTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficerTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTabTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1529

#1532 Update e2e tests to fix flakiness
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1532

#1530 SNI-4951: Case referrals related changes
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudgeTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficerTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTabTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1530
