Repository hmcts/sptribs-case-api, pull requests merged in 2023-04, with the labels that each got.

#762 Feat/st 1030: Fix for Case Built action missing issue
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-762

#765 Feat/st 1127: Updated description and Case Document Tab
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/UploadCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-765

#770 ST-1086 Fix roles for each class
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/SecurityClass.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-770

#776 Feat/st 1030: Commented the midEvent to see if this is causing issue
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-776

#778 ST-1113 Fix env var name
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-778

#780 Feat/st 1030: Fix for de-serialisation error in logs
  src/main/java/uk/gov/hmcts/sptribs/document/model/DocumentType.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-780

#781 Feat/st 1069
  build.gradle
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CaseworkerAddNoteTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CaseworkerCloseCaseTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CreateCaseTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/TestWithCCD.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/XuiTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/action/Case.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/util/Login.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/util/Wiremock.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-781

#784 ST-1201 Respondent access to Document management
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentDocumentManagementTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-784

#788 Feat/st 1030: Commented code related to Case File View feature in midEvent
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CaseUploadDocuments.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-788

#789 Feat/st 1030: Corrected the ids
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CaseUploadDocuments.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-789

#790 ST-1131 amend document
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmendTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-790

#791 ST-1130 Document Management Remove-Removed File List
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemove.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ShowCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ShowRemovedCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemoveTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-791

#795 Feat/st-1070
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/StayCaseTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/XuiTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-795

#796 ST-1159 Remove showEventNotes from ManageDueDate page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-796

#797 Feat/st 1071
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/EditCaseTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/action/Case.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-797

#799 enable debug logging at application.yaml
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-799

#801 Revert "ST-1151-Update build.gradle for e2e test"
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-801

#800 ST-1130 Remove List changes
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ShowCaseDocuments.java
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-800

#804 Revert "Revert "ST-1151-Update build.gradle for e2e test""
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-804

#802 ST-931 Add pcqId field
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CitizenAccess.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CitizenAccessTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-802

#809 St 1080new tests
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondent.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-809

#811 ST-1130 PMD error fix
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ShowCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DecisionDocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentManagementUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/OrderDocumentListUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemoveTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DecisionDocumentListUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentManagementUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/OrderDocumentListUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-811

#819 ST-645 Select additional documentation
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseAdditionalDocument.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseSelectDocument.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ApplicationEvidence.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssue.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/TribunalDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-819

#814 St 1105
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingVenues.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-814

#808 Feat/st 1030: Revert the change we removed as part of AAT issue and removed DEBUG logging config
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CaseUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/DocumentType.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-808

#822 ST-1089-disable_security_scan on Jenkinsfile_nightly
  Jenkinsfile_nightly
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-822

#823 "ST-1089-disable_security_scan on Jenkinsfile_nightly"
  Jenkinsfile_nightly
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-823

#828 ST-1259 Enable case file view and document management
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-828

#830 ST-1129 Error message when no documents removed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ShowCaseDocuments.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-830

#835 ST-645 Labels fixed
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondent.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseAdditionalDocument.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/TribunalDocuments.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-835

#836 ST-645 PMD fix
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseSelectDocument.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentManagementUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentManagementUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-836

#837 ST-645 PMD fix
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ShowCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentRemoveListUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentRemoveListUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-837

#838 Feat/st 1030: Update build.gradle for e2e test
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-838

#839 Revert "Feat/st 1030: Update build.gradle for e2e test"
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-839

#841 St 1200 -
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RespondentPartiesToContact.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-841

#840 ST-1167 First functional API test
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerAddNoteFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCaseBuiltFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/CaseDataUtil.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/IdamTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/ServiceAuthenticationGenerator.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-add-notes.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata.json
  src/functionalTest/resources/responses/response-caseworker-add-notes-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-build-case-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-840

#842 Feat/st 1167
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-842

#845 Revert "Revert "Feat/st 1030: Update build.gradle for e2e test""
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-845

#843 ST-1170 Load vault secrets
  Jenkinsfile_nightly
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-843

#847 ST-1170 Add missing secret() method
  Jenkinsfile_nightly
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-847

#846 Revert "Feat/st 1030: Update build.gradle for e2e test"
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-846

#849 Feat/st 1167
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCancelHearingFT.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-add-notes.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-cancel-hearing-about-to-start.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-cancel-hearing-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-cancel-hearing-submitted.json
  src/functionalTest/resources/responses/response-caseworker-cancel-hearing-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-cancel-hearing-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-cancel-hearing-record-notify-parties-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-cancel-hearing-submitted.json
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-849

#848 ST-1048 Flag implementation
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagAdditionalInfo.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagLevel.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagTypePage.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTabTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestEventConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-848

#850 ST-645 Document filter types removed
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseAdditionalDocument.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/AdditionalDocument.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ApplicationEvidence.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssue.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/TribunalDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-850

#854 St 1080new tests
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToJudge.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToLegalOfficerTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-854

#855 ST-1137 Document Amend Confformation Screen
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmendTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-855

#807 [ST-1081]: enable hearing journey E2E tests and add retry mechanism for failed tests.
  build.gradle
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/action/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Base.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateDraftOrderTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagementTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToJudgeTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToLegalOfficerTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/Actions.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-807

#857 ST-645 Notification fix
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseSelectDocument.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-857

#859 Feat/st 1030: Updated Category to Reinstate Case documents
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocuments.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-859

#860 ST-645 Notification fix
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-860

#863 ST-645 Filtered unattachable files
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocumentTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-863

#867 ST-1261 Rollback from master
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/OrderTemplate.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/PreviewDraftOrderTemplateContentTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-867

#871 Bugfix/st 1326
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ShowCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/UploadCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentRemoveListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmendTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemoveTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentManagementUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentRemoveListUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-871

#873 ST-1110 Add feature flag for bundling
  Jenkinsfile_CNP
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloneBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStitchBundle.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloneBundleTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundleTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditBundleTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStitchBundleTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-873

#878 ST-1154 Large file attachment
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloneBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStitchBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ShowCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/UploadCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentRemoveListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/OrderTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/document/content/PreviewDraftOrderTemplateContent.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloneBundleTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundleTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmendTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemoveTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditBundleTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStitchBundleTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentManagementUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentRemoveListUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocumentTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-878

#829 feat/ST-1196 Added adjournment reasons
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingOutcomePage.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/PageShowConditionsUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/AdjournmentReasons.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingOutcome.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-829

#827 dss migration
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/FileUtil.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseSelectDocument.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssCaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/workbasket/WorkBasketInputFields.java
  src/main/java/uk/gov/hmcts/sptribs/common/UserRoleConstant.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/AppsConfig.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/ControllerConstants.java
  src/main/java/uk/gov/hmcts/sptribs/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/sptribs/config/S2sAuthConfiguration.java
  src/main/java/uk/gov/hmcts/sptribs/constants/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/controllers/CaseManagementController.java
  src/main/java/uk/gov/hmcts/sptribs/controllers/DocumentManagementController.java
  src/main/java/uk/gov/hmcts/sptribs/controllers/RootController.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentType.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/GeneratedDocumentInfo.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/constants/CaseType.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/event/Event.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/event/EventEnum.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/event/cic/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/event/cic/CicUpdateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/model/access/Permissions.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/task/CaseTask.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/task/CaseTaskRunner.java
  src/main/java/uk/gov/hmcts/sptribs/exception/CaseCreateOrUpdateException.java
  src/main/java/uk/gov/hmcts/sptribs/exception/DocumentUploadOrDeleteException.java
  src/main/java/uk/gov/hmcts/sptribs/exception/InvalidResourceException.java
  src/main/java/uk/gov/hmcts/sptribs/model/CaseResponse.java
  src/main/java/uk/gov/hmcts/sptribs/model/ContactPreference.java
  src/main/java/uk/gov/hmcts/sptribs/model/DocumentInfo.java
  src/main/java/uk/gov/hmcts/sptribs/model/DocumentResponse.java
  src/main/java/uk/gov/hmcts/sptribs/model/PaymentStatus.java
  src/main/java/uk/gov/hmcts/sptribs/services/CaseManagementService.java
  src/main/java/uk/gov/hmcts/sptribs/services/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/sptribs/services/ccd/CaseApiService.java
  src/main/java/uk/gov/hmcts/sptribs/services/cdam/CaseDocumentApiService.java
  src/main/java/uk/gov/hmcts/sptribs/util/AppsUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/services/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/ccd/CaseApiServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/cdam/CaseDocumentApiServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/AppsUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestFileUtil.java
  src/test/resources/CICCaseData.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-827

#884 ST-1334 Send order Issues
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-884

#889 ST-1335 Fix document validation bugs
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCloseTheCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingRecordingUploadPageTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocumentsTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocumentTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-889

#877 Feat/st 443 Additional comments page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagAdditionalInfo.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-877

#886 ST-447 Manage flag- flag list
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageFlagShowList.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/FlagService.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/FlagServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-886

#887 Feat/st 1261 CIC3 Rule 27 (Order)
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/OrderTemplate.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/EventUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/PreviewDraftOrderTemplateContentTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-887

#888 ST-441 Flag Location
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagAdditionalInfo.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagLevel.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagTypePage.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtilTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-888
