Repository hmcts/sptribs-case-api, pull requests merged in 2023-03, with the labels that each got.

#624 ST-1056
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerPostponeHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingVenues.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingState.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelperTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-624

#627 ST-780 Reinstate document check description
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-627

#618 Update README.md
  README.md
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-618

#631 St 906
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-631

#630 ST-996 Select sent orders
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageSelectOrders.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/OrderServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-630

#632 ST-1104 Subject Details page
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/SubjectDetails.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-632

#628 ST-1089-Fortify-Config
  Jenkinsfile_nightly
  build.gradle
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-628

#629 ST-1109 First feature flag
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-629

#633 product update
  Jenkinsfile_nightly
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-633

#635 [ST-1081]: Fix issue with parallel execution of tests
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Base.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCase.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactParties.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateFlag.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateHearingSummary.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondent.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCase.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/PageHelpers.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-635

#638 ST-1111 Feature flag for link case
  Jenkinsfile_CNP
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCaseTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-638

#639 ST-1112 Feature flag for case flag
  Jenkinsfile_CNP
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlagTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-639

#642 ST-1121 Label fix on issue decision
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-642

#641 ST-1086 Security Classficiation Change Page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerChangeSecurityClassification.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/SecurityClass.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/SecurityUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerChangeSecurityClassificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/SecurityUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestEventConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-641

#643 ST-1068: Passing NotificationRequest as parameter to make thread-safe
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ApplicationReceivedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CancelHearingNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseReinstatedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseStayedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseUnstayedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/HearingPostponedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ListingCreatedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ListingUpdatedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ApplicationReceivedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CancelHearingNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseReinstatedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseStayedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseUnstayedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/HearingPostponedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ListingCreatedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ListingUpdatedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCICTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-643

#648 St 776
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-648

#649 St 1080new tests
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecision.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecision.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-649

#653 ST-1002 Label on dropdown
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/HearingService.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-653

#652 record listing removed from awaiting hearing state
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-652

#654 ST-1002 Label change
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/EditHearingSummarySelect.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-654

#655 ST-1072 Close case cftlib
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CaseworkerAddNoteTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CaseworkerCloseCaseTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/XuiTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/action/Actions.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/action/Case.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/util/AssertionHelpers.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/util/DateHelpers.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/util/Login.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/util/PageHelpers.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/util/PlaywrightHelpers.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/util/StringHelpers.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-655

#658 [ST-1081]: Add few more Hearing journey tests
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Base.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CaseState.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCase.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactParties.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateFlag.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateHearingSummary.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecision.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecision.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondent.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCase.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/PageHelpers.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/StringHelpers.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-658

#656 ST-1073 Record Listing cftlib
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CaseworkerRecordListingTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/action/Hearing.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/util/CaseState.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-656

#662 ST-1072 Disabled until pipeline issue solved
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CaseworkerCloseCaseTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CaseworkerRecordListingTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-662

#657 St 1079
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCase.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactParties.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateDraftOrderTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateFlag.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecision.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecision.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondent.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ManageOrderDueDateTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/SendOrdersTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCase.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/Actions.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/CaseState.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/DraftOrderTemplate.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-657

#661 ST-1126 Cancel hearing fix
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerPostponeHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CancelHearingReasonSelect.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingVenues.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/RecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateHearingSummaryTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerPostponeHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-661

#666 Feat/st 1122: Fix for unreliable Stay Case history
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStay.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseStay.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStayTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-666

#669 ST-1027 Change event permissions
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-669

#671 Added ITHC case API configuration to Jenkins_CNP file
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-671

#673 ST-1027 Add "Refer case to judge" event
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudgeTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-673

#675 refer to officer event added
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficerTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-675

#677 Feat/st 1139
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToJudgeReason.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ReferralReason.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudgeTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToJudgeReasonTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-677

#676 feat/ST-995 Created Edit cica case details in the drop down to start event
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditCicaCaseDetails.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/EditCicaCaseDetails.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/EditCicaCaseDetailsPage.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditCicaCaseDetailsTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestEventConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-676

#679 ST-1139 Change radio buttons to dropdown
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToJudgeReason.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ReferToJudge.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-679

#681 ST-1140 Add additional info page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToJudgeAdditionalInfo.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToJudgeReason.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ReferToJudge.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudgeTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-681

#674 St 1117
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseworkerWithCAAAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/DefaultAccess.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseworkerAccessWithCAATest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-674

#685 Feat/ST-994 Create a page to display Case details updated message
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditCicaCaseDetails.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditCicaCaseDetailsTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-685

#687 ST-1134 Label and reason changes
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CloseCaseRejectionDetails.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CloseCaseStrikeOutDetails.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CloseCaseRejectionReason.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CloseCaseStrikeOutReason.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-687

#683 ST-484: Document Management Upload event
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/UploadCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-683

#691 refer additional page added
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToLegalOfficerAdditionalInfo.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ReferToLegalOfficer.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-691

#694 ST-1126 Hearings Page
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-694

#668 Update README.md
  README.md
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-668

#698 ST-1147 Conformation Page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficerTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-698

#699 ST-1158 JVM parameter add for JAVA 17
  build.gradle
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-699

#700 ST-1158 JVM parameter add for JAVA 17
  build.gradle
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-700

#702 ST-1158 JVM parameter add for JAVA 17
  build.gradle
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-702

#705 Feat/st 1122: Fix for clearing Stay data before creating a new Stay
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStay.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStayTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-705

#710 ST-1156 Orders and decisions tab
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionPreviewTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionPreviewTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTabTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-710

#712 Revert "ST-1150-Update values.yaml"
  charts/sptribs-case-api/Chart.yaml
  charts/sptribs-case-api/values.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-712

#713 [ST-1081]: Updated selectors as per the latest changes for hearing tests
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/action/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactPartiesTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CreateFlag.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecision.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondent.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ManageOrderDueDateTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/SendOrdersTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/CaseState.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-713

#718 ST-1117. tabs added to district judge role
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-718

#709 St 1155
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingAttendeesRolePage.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingRecordingUploadPage.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingTypeAndFormat.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingVenues.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/PageShowConditionsUtil.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-709

#723 fix bugs ST-1155 , items 13 , 14
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RecordNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Listing.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-723

#725 ST-1157 , remove caseworker events when case status in awaiting outcome
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-725

#726 ST-1128 Document Remove Page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemove.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ShowCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CloseCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/HearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/DocumentListService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemoveTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/DocumentListServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestEventConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-726

#735 ST-1130 Check answers and PMD fixes
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemove.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/DocumentListService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/OrderDocumentListUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/DocumentListServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/OrderDocumentListUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-735

#743 ST-1202 CVE 2023-20861
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-743

#744 ST-1132 Conformation page and PMD fixes
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemove.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/DocumentListService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DecisionDocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/OrderDocumentListUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/DocumentListServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DecisionDocumentListUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-744

#747 ST-1132 PMD fixes
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemove.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DecisionDocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/OrderDocumentListUtil.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-747

#749 ST-1077_Redundant_Code_PR1 Removed some redundant code.
  src/integrationTest/java/uk/gov/hmcts/sptribs/testutil/DocManagementStoreWireMock.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/testutil/IdamWireMock.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-749

#757 Feat/st 1086
  build.gradle
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerChangeSecurityClassification.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/SecurityClass.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/ExtendedCaseDataApi.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/ExtendedCaseDataService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/SecurityUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ExtendedCaseDetails.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerChangeSecurityClassificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/ExtendedCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/SecurityUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-757

#758 St-1200 - Respondent access to Contact Parties
  charts/sptribs-case-api/Chart.yaml
  charts/sptribs-case-api/values.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RespondentPartiesToContact.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/TribunalCIC.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-758

#745 Feat/st 1030: Case File View Functionality
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFileView.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingRecordingUploadPage.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionUploadNotice.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderUploadOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/DraftOrderCIC.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Order.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/ConfigBuilderHelper.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesCS.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesDD.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesMH.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesPHL.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesSEND.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/DocumentInfo.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCloseTheCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFileViewTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateHearingSummaryTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingRecordingUploadPageTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionUploadNoticeTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocumentsTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderUploadOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesCICTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesCSTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesDDTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesMHtest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesPHLTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/categories/CategoriesSendTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTabTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/ConfigTestUtil.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-745
