Repository hmcts/sptribs-case-api, pull requests merged in 2023-07, with the labels that each got.

#1085 Sptribs cic release 2 fix conflict
  .github/workflows/ci.yml
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1085

#1082 ST-459 Link load page
  .github/workflows/ci.yml
  build.gradle
  charts/sptribs-case-api/values.preview.template.yaml
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/action/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondentTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToJudgeTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToLegalOfficerTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCaseTests.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ContactPartiesSelectDocument.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssCaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/DssApplicationReceivedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/PartiesToContact.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/BundlingConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/client/BundleResponse.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/client/BundlingService.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/BundleCallback.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/Callback.java
  src/main/java/uk/gov/hmcts/sptribs/notification/DssNotificationHelper.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/DssApplicationReceivedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DssNotificationHelperTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1082

#1064 ST-1380 XUI test
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactPartiesTests.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1064

#1087 SNI-4172 rollback
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ApplicantDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/ContactPreferenceDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/RepresentativeDetails.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/SelectParties.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1087

#1086 Feat/st 464 Maintain Link warning page
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1086

#1084 EXUI-336 Adding logging for user and service credentials
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1084

#1090 Feat/st 462 link conformation page
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1090

#1091 change response to byte[]
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/document/CaseDocumentClient.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentClient.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/test/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCICTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1091

#1094 Feat/st 1430
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1094

#1096 ST-1499 Respondent Contact Parties notification
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/main/java/uk/gov/hmcts/sptribs/notification/PartiesNotification.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NotificationHelperTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1096

#1098 Feat/st 1430 1: Debug Notification issue
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1098

#1100 fix e2e tests
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCaseTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1100

#1101 Switching on Bundling for R2.1
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1101

#1104 ST-1507-refactoring
  src/main/java/uk/gov/hmcts/sptribs/controllers/DocumentManagementController.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1104

#1105 Feat/st 424 Link view tab
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/LinkCaseSelectCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseLinks.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCaseTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1105

#1110 ST-1430 Seperator change for order documents
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/DocumentManagementSelectDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/OrderService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1110

#1111 Sptribs cic release 2 merge master v2
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1111

#1115 ST-463 Maintain link
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/LinkCaseSelectCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/PageShowConditionsUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1115

#1116 Sptribs cic release 2 1 merge 2
  build.gradle
  charts/sptribs-case-api/values.preview.template.yaml
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/DocumentManagementSelectDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RecordNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SelectRecipientsHelper.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/document/CaseDocumentClient.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentClient.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCICTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1116

#1128 ST-1367 Access problem
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssMessage.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1128

#1122 Sptribs cic release 2 merge master v3
  README.md
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1122

#1123 Sptribs cic release 3 merge 2 1
  Jenkinsfile_CNP
  build.gradle
  charts/sptribs-case-api/values.preview.template.yaml
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecisionTests.java
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/DocumentManagementSelectDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionSelectRecipients.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RecordNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SelectRecipientsHelper.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderNotifyParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/CheckRequiredUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssCaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssMessage.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/controllers/DocumentManagementController.java
  src/main/java/uk/gov/hmcts/sptribs/document/CaseDocumentClient.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentClient.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/main/java/uk/gov/hmcts/sptribs/notification/PartiesNotification.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTabTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NotificationHelperTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCICTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1123

#1127 BUG-ST-1490 Removed extra option from case list
  README.md
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CloseReason.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1127

#1000 ST-1435 DynamicMultiSelectList Link
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1000

#1138 ST-1454 Fixing build error - removing extraneous buildMessagesTab call
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1138

#1139 SNI-4173: Added category and subcategory to the Search Input fields.
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/SearchInputFields.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1139

#1140 ST-1428 Representative Email
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/DssApplicationReceivedNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1140

#1142 Sptribs cic release 3 trigger pipeline
  README.md
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1142

#1144 Bundling url to demo
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1144

#1141 SNI-4173: Added category and subcategory to the Search Input fields. …
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/SearchInputFields.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1141

#1149 ST-847 Dynamicmultiselectlist
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/SearchInputFields.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1149

#1152 ST-1503-Update CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1152

#1145 ST-1485-text update
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingRecordingUploadPage.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueDecisionUploadNotice.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderUploadOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/UploadCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CaseUploadDocuments.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1145

#1153 ST-847 Dynamicmultiselectlist
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1153

#1121 ST-475 Maintain links
  build.gradle
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/MaintainLinkCaseSelectCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseLinks.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/LinkReason.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/LinkService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/LinkServiceTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1121

#1156 demo_bundling new event
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerBundleStitchComplete.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1156

#1157 ST-443 Additional info message
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagAdditionalInfo.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlagTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1157

#1092 SNI-4171: Updated few conditions in Enter Further Details page
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/FurtherDetails.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1092

#1108 fix for removing deleted document from case file view
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemove.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1108

#1158 fixed merging issue
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTabTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1158

#1165 ST-1435 demo config
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseNumber.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1165

#1167 ST-463 Manage case links
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1167

#1166 ST-1435 URL check
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1166

#1146 Feat/st 1048
  charts/sptribs-case-api/values.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/CaseApiApplication.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageFlagShowList.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageFlagUpdate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/FlagDetail.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Flags.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/FlagService.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/service/LinkService.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/links/LinkReasonClient.java
  src/main/java/uk/gov/hmcts/sptribs/common/links/LinkService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerMaintainLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlagTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/service/LinkServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1146

#1169 ST-1048 Link reason
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1169

#1170 ST-1435 document url change
  charts/sptribs-case-api/values.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1170

#1172 fixed issue about hearingSummaryExists appearing multiple times in ca…
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Listing.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1172

#1155 Feat/st 1106_1: Changes for Idam Roles to Access Profiles mapping
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/FlagAdditionalInfo.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1155
