Repository hmcts/sptribs-case-api, pull requests merged in 2023-06, with the labels that each got.

#988 ST-1420 DSS integration bugs
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEvent.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmendTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-988

#970 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-970

#992 ST-1420 DSS integration
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/EditDraftOrder.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrderTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-992

#994 [ST-1081]: enable DSS E2E Tests
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DssCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/CaseState.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-994

#999 Change Continue to Submit on Case Built
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-999

#996 Feat/st 1431 bug fix
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-996

#1003 Wa test
  build.gradle
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/AdditionalComposeServiceRunner.java
  src/cftlib/resources/docker/cft-lib-work-allocation.yml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1003

#1005 SNI-4025: Added few more values to sub-category drop-down list.
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseSubcategory.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1005

#1007 ST-1345 History tab missing events
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1007

#1009 ST-1369 Case Region
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RegionCIC.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/SearchInputFields.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/SearchResultFields.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/FurtherDetails.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/workbasket/WorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/workbasket/WorkBasketResultFieldsTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1009

#1004 Change Continue to Submit on Case Built and change DSS environment
  build.gradle
  config/owasp/suppressions.xml
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1004

#1022 ST-1443 Respondent document management upload
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentDocumentManagementTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocumentUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1022

#1024 Dss tests
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1024

#1029 ST-1436 DSS history tab
  build.gradle
  config/owasp/suppressions.xml
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Order.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentDocumentManagementTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocumentUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1029

#1033 Sptribs cic release 2 merge master
  Jenkinsfile_nightly
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseSubcategory.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/SelectParties.java
  src/main/java/uk/gov/hmcts/sptribs/launchdarkly/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/CreateTestCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1033

#1040 ST-1466 Edit Draft order main content
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1040

#1041 ST-1468 Edit case state check
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCaseTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1041

#1045 Update build.gradle
  build.gradle
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1045

#1047 St pet sn 4118 Date received being captured when cases submitted via document submission service
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEvent.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1047

#1050 pipeline-timeout-issue
  .github/workflows/ci.yml
  build.gradle
  config/owasp/suppressions.xml
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/action/Case.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1050

#1052 PR-880 update of XUI Webapp image to use PR image
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1052

#1053 Use latest XUI secure doc store image in Release 2 branch
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1053

#1054 To fix JudgePanel details
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/action/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1054

#1055 To fix JudgePanel details
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/action/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Hearing.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1055

#1049 ST-1472 DSS submit backend
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEvent.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1049

#1067 Feature/fix dss tests
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1067

#1069 Update values.preview.template.yaml
  charts/sptribs-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1069

#1068 Feature/fixrelease2conflicts
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1068

#1070 fix failing E2E tests on preview
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondentTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToJudgeTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToLegalOfficerTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCaseTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1070

#1072 Merging R2 changes to R2.1
  charts/sptribs-case-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/CloseCaseTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/HearingJourneyTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueADecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueFinalDecisionTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/IssueToRespondentTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToJudgeTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ReferCaseToLegalOfficerTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/StayCaseTests.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingRecordingUploadPage.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReinstateUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssCaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/DssApplicationReceivedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CaseUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/BundlingConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/client/BundleResponse.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/client/BundlingService.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/BundleCallback.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/Callback.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/notification/DssNotificationHelper.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingRecordingUploadPageTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/DssApplicationReceivedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DssNotificationHelperTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocumentUtilTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, rel:sptribs-case-api-pr-1072

#1079 ST-1367 DSS Messages
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssCaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssMessage.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTabTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1079

#1081 case document tab haas been removed-new
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTabTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1081
