Repository hmcts/sptribs-case-api, pull requests merged in 2024-11, with the labels that each got.

#1996 DTSSTCI-1205
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEvent.java
  src/main/resources/dmn/wa-task-completion-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-1996

#1998 Enable Work Allocation on AAT env
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WACompleteHearingOutcomeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAFollowUpNoncomplianceOfDirectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAIssueCaseToRespondentFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAIssueDecisionNoticeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessCaseWithdrawalDirectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessCorrectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessDirectionsReListedCaseFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessDirectionsReListedCaseWithin5DaysFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessDirectionsReturnedFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessFurtherEvidenceFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessListingDirectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessOtherDirectionsReturnedFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessPostponementDirectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessReinstatementDecisionNoticeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessRule27DecisionFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessSetAsideDirectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessStayDirectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessStrikeOutDirectionsReturnedFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessTimeExtensionDirectionsReturnedFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessWrittenReasonsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewCorrectionsRequestFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewListCaseJudgeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewListCaseLOFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewListCaseWithin5DaysJudgeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewListCaseWithin5DaysLOFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewListingDirectionsJudgeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewListingDirectionsLOFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewNewCaseAndProvideDirectionsJudgeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewNewCaseAndProvideDirectionsLOFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewOtherRequestJudgeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewOtherRequestLOFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewPostponementRequestJudgeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewPostponementRequestLOFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewReinstatementRequestJudgeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewReinstatementRequestLOFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewRule27RequestJudgeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewRule27RequestLOFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewSetAsideRequestFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewStayRequestJudgeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewStayRequestLOFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewStrikeOutRequestJudgeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewStrikeOutRequestLOFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewTimeExtensionRequestJudgeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewTimeExtensionRequestLOFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewWithdrawalRequestJudgeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewWithdrawalRequestLOFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewWrittenReasonsRequestFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAStitchCollateHearingBundleFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WATaskRegisterNewCaseFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAVetNewCaseDocumentsFT.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1998

#1994 DTSSTCI-1188
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CamundaTaskConstants.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/ConfigurationExpectationBuilder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1994

#2001 Update Task names to follow sentence case
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-types-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-2001

#2002 Test rollback for WA in Demo env
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-2002

#2003 Re-enable WA in Demo
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-2003
