Repository hmcts/sptribs-case-api, pull requests merged in 2024-04, with the labels that each got.

#1717 Add logging for dss update document upload issue
  src/main/java/uk/gov/hmcts/sptribs/controllers/DocumentManagementController.java
  src/main/java/uk/gov/hmcts/sptribs/services/cdam/CaseDocumentApiService.java
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1717

#1707 DTSSTCI-579 Audit Unit Tests in Case API - Common.Notification Part 2
  build.gradle
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseUnstayedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/HearingPostponedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ListingCreatedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ListingUpdatedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseUnstayedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/HearingPostponedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ListingCreatedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ListingUpdatedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NotificationHelperTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1707

#1721 DTSSTCI-505 - Ensure CICA users can view cases which have the status 'Ready to list'
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, enable-e2e-tests, rel:sptribs-case-api-pr-1721

#1718 SNI-5598
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotification.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1718

#1724 DTSSTCI-204: Added submit case notification logic
  bin/get-user-id-by-email.sh
  bin/idam-user-token.sh
  bin/patch-cases-in-ccd.sh
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CaseworkerCloseCaseTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/CreateCaseTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/EditCaseTest.java
  src/cftlibTest/java/uk/gov/hmcts/sptribs/cftlib/StayCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-submit-case-missing-case-number.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-submit-case-missing-parties.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-submit-case-submitted.json
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssCaseData.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/DssApplicationReceivedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/DssNotificationHelper.java
  src/main/java/uk/gov/hmcts/sptribs/notification/PartiesNotification.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/DssApplicationReceivedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/DssNotificationHelperTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1724

#1713 DTSSTCI-617
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdCaseDataContentProvider.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdUpdateService.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdCaseDataContentProviderTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdUpdateServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1713

#1725 DTSSTCI-705
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagement.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentDocumentManagement.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1725

#1727 DTSSTCI-691
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventFT.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-citizen-cic-create-case-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-update-case-about-to-submit.json
  src/functionalTest/resources/responses/response-citizen-cic-create-case-about-to-submit.json
  src/functionalTest/resources/responses/response-citizen-update-case-about-to-submit.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEvent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, enable-e2e-tests, rel:sptribs-case-api-pr-1727

#1720 Remove document upload logs
  src/main/java/uk/gov/hmcts/sptribs/controllers/DocumentManagementController.java
  src/main/java/uk/gov/hmcts/sptribs/services/cdam/CaseDocumentApiService.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1720

#1732 DTSSTCI-362
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerHearingOptionsIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/controllers/CaseManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/controllers/DocumentManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/controllers/RootControllerIT.java
  src/integrationTest/resources/citizen-create-case-response.json
  src/integrationTest/resources/citizen-document-upload-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/exception/CaseCreateOrUpdateException.java
  src/main/java/uk/gov/hmcts/sptribs/services/ccd/CaseApiService.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, enable-e2e-tests, rel:sptribs-case-api-pr-1732

#1742 DTSSTCI-693
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/sptribs/controllers/CaseManagementControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/controllers/RootControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/IdamTokenGenerator.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/responses/response-citizen-create-case.json
  src/functionalTest/resources/responses/response-citizen-update-case.json
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1742

#1744 DTSSTCI762 - Swap jenkinsfiles
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1744

#1730 DTSSTCI-692: CaseworkerCreateCaseFT CaseworkerCreateTestCaseFT
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCreateCaseFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCreateTestCaseFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-submit-case-failure.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-submit-case.json
  src/functionalTest/resources/responses/response-caseworker-submit-case.json
  src/functionalTest/resources/responses/response-caseworker-submit-test-case.json
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1730

#1746 Fix nightly E2E tests to use custom E2E step
  Jenkinsfile_nightly
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1746
