Repository hmcts/sptribs-case-api, pull requests merged in 2024-09, with the labels that each got.

#1888 DTSSTCI-979: Added integration tests for Caseworker edit cases
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCaseIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCicaCaseDetailsIT.java
  src/integrationTest/resources/responses/caseworker-edit-case-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-edit-cica-case-details-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditCase.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1888

#1893 DTSSTCI-984: Added integration tests for Caseworker manage case flag and maintain link case
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerManageCaseFlagFT.java
  src/functionalTest/resources/responses/response-caseworker-manage-case-flags-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerMaintainLinkCaseIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlagIT.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlagTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1893

#1891 DTSSTCI-981: Added integration tests for Caseworker edit record listing and panel composition
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditPanelCompositionIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListingIT.java
  src/integrationTest/resources/responses/caseworker-edit-panel-composition-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-edit-record-listing-about-to-start-response.json
  src/integrationTest/resources/responses/caseworker-edit-record-listing-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-edit-record-listing-mid-event-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1891

#1895 DTSSTCI-989
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCaseIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactPartiesIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentDocumentManagementIT.java
  src/integrationTest/resources/responses/caseworker-reinstate-case-about-to-start-response.json
  src/integrationTest/resources/responses/caseworker-reinstate-case-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-respondent-contact-parties-about-to-start-response.json
  src/integrationTest/resources/responses/caseworker-respondent-document-management-about-to-submit-response.json
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentDocumentManagementTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1895

#1900 DTSSTCI-990
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/ContactPartiesSelectDocumentIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/DocumentManagementSelectDocumentsIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/EditHearingSummarySelectIT.java
  src/integrationTest/resources/responses/document-management-select-document-mid-event-response.json
  src/integrationTest/resources/responses/edit-hearing-summary-select-mid-event-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/DocumentManagementSelectDocuments.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1900

#1899 DTSSTCI-991
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingRecordingUploadPageIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/HearingVenuesIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseSelectDocumentIT.java
  src/integrationTest/resources/responses/hearing-recording-upload-page-mid-event-response.json
  src/integrationTest/resources/responses/hearing-venues-mid-event-response.json
  src/integrationTest/resources/responses/issue-case-select-document-mid-event-response.json
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1899

#1898 DTSSTCI-988
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCaseIT.java
  src/integrationTest/resources/responses/caseworker-send-order-about-to-submit-response.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1898

#1903 Update next steps description to match Case: Edit case
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1903

#1896 DTSSTCI-899: Removed unwanted logging statements
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerAddNote.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerPostponeHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRemoveStay.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStayTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/page/CaseUploadDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/task/SetStateAfterSubmission.java
  src/main/java/uk/gov/hmcts/sptribs/document/CaseDataDocumentService.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentClient.java
  src/main/java/uk/gov/hmcts/sptribs/notification/GetAllTemplatesFromNotify.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/main/java/uk/gov/hmcts/sptribs/services/CaseManagementService.java
  src/main/java/uk/gov/hmcts/sptribs/services/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/convert/CaseDetailsListConverter.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchService.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdUpdateService.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1896

#1897 DTSSTCI-986: Added integration test for postpone hearing
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerPostponeHearingIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingIT.java
  src/integrationTest/resources/responses/caseworker-postpone-hearing-about-to-start-response.json
  src/integrationTest/resources/responses/caseworker-postpone-hearing-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-record-listing-about-to-start-response.json
  src/integrationTest/resources/responses/caseworker-record-listing-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-record-listing-mid-event-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerPostponeHearing.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1897

#1892 DTSSTCI-983
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecisionIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerLinkCaseIT.java
  src/integrationTest/resources/responses/caseworker-issue-final-decision-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-issue-final-decision-mid-event-response.json
  src/integrationTest/resources/responses/caseworker-issue-final-decision-upload-mid-event-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueFinalDecision.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1892

#1882 [DTSSTCI-947] Update hyperlink for next steps of issueDecisionNotice task
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-1882

#1883 [DTSSTCI-948] Update hyperlink for next steps of followUpNonComplianceOfDirections task
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-1883

#1906 DTSSTCI-987: Added integration tests for referral events
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerReferToJudgeIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerReferToLegalOfficerIT.java
  src/integrationTest/resources/responses/caseworker-refer-to-judge-about-to-start-response.json
  src/integrationTest/resources/responses/caseworker-refer-to-judge-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-refer-to-legal-officer-about-to-start-response.json
  src/integrationTest/resources/responses/caseworker-refer-to-legal-officer-about-to-submit-response.json
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1906

#1905 DTSSTCI-994
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/RecordNotifyPartiesIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToJudgeReasonIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToLegalOfficerReasonIT.java
  src/integrationTest/resources/responses/record-notify-parties-mid-event-response.json
  src/integrationTest/resources/responses/refer-to-judge-reason-mid-event-response.json
  src/integrationTest/resources/responses/refer-to-legal-officer-reason-mid-event-response.json
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1905

#1902 DTSSTCI-993
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCaseIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectTemplateIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageSelectOrdersIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHearingNotifyPartiesIT.java
  src/integrationTest/resources/responses/caseworker-manage-select-order-mid-event-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueFinalDecisionSelectTemplate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ManageSelectOrders.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/PostponeHearingNotifyParties.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1902

#1909 DTSSTCI-966
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/ApplicationReceivedNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/CancelHearingNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotificationIT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1909

#1907 DTSSTCI-996
  src/functionalTest/resources/responses/response-caseworker-create-hearing-summary-select-hearing-mid-event.json
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/SelectHearingIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/SelectRecipientsHelperIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderNotifyPartiesIT.java
  src/integrationTest/resources/responses/select-hearing-mid-event-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/SelectHearing.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/SelectHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1907

#1910 DTSSTCI-967
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/CaseLinkedNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/CaseReinstatedNotificationIT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1910

#1869 DTSSTCI-577
  Jenkinsfile_CNP
  build.gradle
  charts/sptribs-case-api/values.wa.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/sptribs/controllers/CaseManagementControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/CcdCaseCreator.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/IdamTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/RoleAssignmentService.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/ServiceAuthenticationGenerator.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/TaskManagementService.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/TaskMonitorService.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WATaskRegisterNewCaseFT.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-1869

#1916 Disable WA functional test
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WATaskRegisterNewCaseFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1916

#1918 DTSSTCI-950
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/ApplicationReceivedNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseFlagsIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseLinksIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateOldHearingIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemTriggerStitchCollateHearingBundleIT.java
  src/integrationTest/resources/responses/system-migrate-case-flags-about-to-submit-response.json
  src/integrationTest/resources/responses/system-migrate-old-hearing-about-to-submit-response.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1918

#1914 DTSSTCI-969
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/ContactPartiesNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/DecisionIssuedNotificationIT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1914

#1911 DTSSTCI-968
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/CaseStayedNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/CaseUnlinkedNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/CaseUnstayedNotificationIT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1911

#1908 DTSSTCI-997
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/IssueCaseNotifyPartiesIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/SendOrderUploadOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/ShowCaseDocumentsIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/page/UploadCaseDocumentsIT.java
  src/integrationTest/resources/responses/send-order-upload-order-mid-event-response.json
  src/integrationTest/resources/responses/show-case-documents-mid-event-response.json
  src/integrationTest/resources/responses/upload-case-documents-mid-event-response.json
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1908

#1913 DTSSTCI-970
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/DssUpdateCaseSubmissionNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/HearingPostponedNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/ListingCreatedNotificationIT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1913

#1915 DTSSTCI-971
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/ListingUpdatedNotificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotificationIT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1915

#1917 DTSSTCI-577 Fix
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WATaskRegisterNewCaseFT.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1917

#1920 DTSSTCI-951
  src/integrationTest/java/uk/gov/hmcts/sptribs/systemupdate/service/CaseDetailsUpdaterIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdUpdateServiceIT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1920

#1919 DTSSTCI-957
  src/integrationTest/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCicIT.java
  src/integrationTest/resources/responses/notification-response.json
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1919

#1921 DTSSTCI-693
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/service/SubmissionServiceIT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1921

#1926 Enable WA feature in ITHC and perftest
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1926

#1923 DTSSTCI-1152
  src/main/resources/dmn/wa-task-permissions-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-1923

#1922 DTSSTCI-972
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/service/HearingServiceIT.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1922

#1927 DTSSTCI-1096
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAIssueCaseToRespondentFT.java
Labels: ns:sptribs, prd:sptribs, pr-values:wa, rel:sptribs-case-api-pr-1927

#1933 DTSSTCI-1107
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessOtherDirectionsReturnedFT.java
  src/functionalTest/resources/wa/caseworker-create-draft-order-submit-data.json
Labels: ns:sptribs, prd:sptribs, pr-values:wa, rel:sptribs-case-api-pr-1933

#1929 DTSSTCI-1098
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/CcdCaseCreator.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WACompleteHearingOutcomeFT.java
  src/functionalTest/resources/wa/caseworker-record-listing-submit-data.json
Labels: ns:sptribs, prd:sptribs, pr-values:wa, rel:sptribs-case-api-pr-1929

#1928 DTSSTCI-1097
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessFurtherEvidenceFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1928

#1932 DTSSTCI-1101
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAStitchCollateHearingBundleFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1932

#1937 [DTSSTCI-952] Create IT for CaseApiService
  src/integrationTest/java/uk/gov/hmcts/sptribs/services/ccd/CaseApiServiceIT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1937

#1931 DTSSTCI-1099
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/CcdCaseCreator.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAIssueDecisionNoticeFT.java
  src/functionalTest/resources/wa/caseworker-create-hearing-summary-submit-data.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1931

#1935 DTSSTCI-1109
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessRule27DecisionFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1935

#1934 DTSSTCI-1108
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessCaseWithdrawalDirectionsFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1934

#1944 DTSSTCI-1114
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessCorrectionsFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1944

#1936 DTSSTCI-1110
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessListingDirectionsFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1936

#1946 DTSSTCI-1117
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessTimeExtensionDirectionsReturnedFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1946
