Repository hmcts/sptribs-case-api, pull requests merged in 2024-01, with the labels that each got.

#1628 St 1696: Updated Refer event permissions
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1628

#1630 St 1715 Bundling issue
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/client/BundlingService.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1630

#1631 St 1715 Fix for exception with Stitch Bundle document
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStitchBundle.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/BundlingConstants.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/client/BundlingService.java
  src/test/java/uk/gov/hmcts/sptribs/document/bundling/BundlingServiceTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1631

#1633 St 1717: Remove redundant Bundle Folders
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStitchBundle.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/client/BundlingService.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1633

#1634 St 1696 Refer to Judge Event permissions Change
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1634

#1627 SNI-5213: Delete documents from case file view
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemove.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemoveTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1627

#1601 DTSSTCI 97 New Case Reason for Case Management State
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToJudgeReason.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToLegalOfficerReason.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToJudgeReasonTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/ReferToLegalOfficerReasonTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1601

#1635 St 1717 Enable Async stitching event to check Bundling issue
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerBundleStitchComplete.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStitchBundle.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1635

#1565 ST-1176
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk.gov.hmcts.sptribs/IdamConsumerTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1565

#1643 ST-1719: Enabled Security Classification flag
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1643

#1645 St 1719: Fix for api-gw pod crashing issue in Preview env
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1645

#1646 ST-1079: add-update contact parties, edit cica details, doc management and bundling e2e tests
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/BundlingTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/ContactPartiesTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagement.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagementTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/EditCicaCaseDetailsTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/enums/Actions.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/PageHelpers.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/files/sample_A_application_document.pdf
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/files/sample_B_police_evidence_document.pdf
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/files/sample_C_GP_records_document.pdf
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/files/sample_D_HMRC_records_document.docx
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/files/sample_E_care_plan_records_document.pdf
  src/e2eTests/java/uk/gov/hmcts/sptribs/testutils/files/sample_L_linked_docs_records_document.docx
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1646

#1651 ST-1079: update e2e test login methods
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Login.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1651

#1650 DTSSTCI-284: Fixed create case issue
  bin/generate-ccd-definition.sh
  build.gradle
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1650

#1648 DTSSTCI-118: Updated unit tests for common package
  src/main/java/uk/gov/hmcts/sptribs/common/AddSystemUpdateRole.java
  src/main/java/uk/gov/hmcts/sptribs/common/UserRoleConstant.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/ControllerConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/interceptors/RequestInterceptor.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/CcdSupplementaryDataService.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/task/SetHyphenatedCaseRef.java
  src/main/java/uk/gov/hmcts/sptribs/common/service/task/SetStateAfterSubmission.java
  src/test/java/uk/gov/hmcts/sptribs/common/config/AddSystemUpdateRoleTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/config/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/config/interceptors/RequestInterceptorTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/CcdSupplementaryDataServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/SubmissionServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/task/SetHyphenatedCaseRefTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/service/task/SetStateAfterSubmissionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1648

#1636 SNI-5223: Remove jrd-system-user system role
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1636

#1664 ST-1726: Fix for document types
  src/main/java/uk/gov/hmcts/sptribs/document/model/CICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/EdgeCaseDocument.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CICDocumentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocumentTest.java
Labels: keep-helm, enable_keep_helm

#1658 ST-1106 PR to shutter case-api for AM release
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1658

#1666 [ST-1079]: disable e2e tests for shuttering
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1666

#1647 Changes for Access Management to Master branch
  Jenkinsfile_CNP
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1647

#1669 [ST-1079]: enable e2e tests
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1669

#1663 [ST-1564]: enable bundling and send order e2e tests
  build.gradle
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/BundlingTests.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/SendOrdersTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1663

#1670 ST-1725 Adding hearing-centre-team-leader and senior-caseworker as RE…
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/SecurityClass.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1670

#1593 DTSSTCI 90
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCreateHearingSummaryIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerEditHearingSummaryIT.java
  src/integrationTest/resources/caseworker-create-hearing-summary-response.json
  src/integrationTest/resources/caseworker-edit-hearing-summary-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditHearingSummary.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditHearingSummaryTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/DecisionTemplateContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/FinalDecisionTemplateContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1593

#1672 Fix for duplicate file in Case File View post Send Order event
  src/functionalTest/resources/responses/response-caseworker-send-order-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1672

#1674 St 1645 include certain allowed filetypes
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerChangeSecurityClassification.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/ContactPartiesAllowedFileTypes.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/SecurityClassification.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerChangeSecurityClassificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1674

#1675 Fix for Respondent Contact Parties Notification
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/RespondentPartiesToContact.java
Labels: ns:sptribs, prd:sptribs, keep-helm, enable_keep_helm, rel:sptribs-case-api-pr-1675

#1618 SPTRIBS - enable frontend on preview
  charts/sptribs-case-api/Chart.yaml
  charts/sptribs-case-api/values.yaml
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1618

#1676 ST-1713 Shuttering release for R2/2.1
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1676

#1679 ST-1713 Flagging document management to true
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1679

#1673 DTSSTCI-333
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialClient.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1673

#1625 DTSSTCI-86
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/FunctionalTestSuite.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateCase.java
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/resources/data/st_cic_test_case.json
  src/test/java/uk/gov/hmcts/sptribs/common/event/CreateCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/CreateTestCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/ContactPreferenceDetailsTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/page/SelectPartiesTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1625

#1639 Removed Comments and added Test.
  src/main/java/uk/gov/hmcts/sptribs/exception/CaseCreateOrUpdateException.java
  src/main/java/uk/gov/hmcts/sptribs/exception/DocumentUploadOrDeleteException.java
  src/main/java/uk/gov/hmcts/sptribs/exception/InvalidResourceException.java
  src/main/java/uk/gov/hmcts/sptribs/idam/IdamService.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialService.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialUsersRequest.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/model/AppointmentRefreshResponse.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/model/AuthorisationRefreshResponse.java
  src/main/java/uk/gov/hmcts/sptribs/judicialrefdata/model/UserProfileRefreshResponse.java
  src/test/java/uk/gov/hmcts/sptribs/exception/CaseCreateOrUpdateExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/exception/DocumentUploadOrDeleteExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/exception/InvalidResourceExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/idam/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/judicialrefdata/JudicialServiceTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1639
