Repository hmcts/sptribs-case-api, pull requests merged in 2024-07, with the labels that each got.

#1783 DTSSTCI-712: New ccd chart and chart java - with Persistent data
  charts/sptribs-case-api/Chart.yaml
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1783

#1810 DTSSTCI-73
  src/functionalTest/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-submit-case-submitted.json
  src/integrationTest/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventIT.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssCaseData.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/DssApplicationReceivedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/controllers/model/DssCaseDataRequest.java
  src/main/java/uk/gov/hmcts/sptribs/notification/TemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/DssApplicationReceivedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/event/CreateTestCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/controllers/model/DssCaseDataRequestTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1810

#1813 DTSSTCI-885
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/IdamTokenGenerator.java
  src/main/java/uk/gov/hmcts/sptribs/idam/IdamService.java
  src/test/java/uk/gov/hmcts/sptribs/idam/IdamServiceTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1813

#1815 DTSSTCI-908: Combined all Renovate PR changes as of 9th july
  build.gradle
  src/contractTest/java/uk.gov.hmcts.sptribs/IdamConsumerTest.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ExtendedCaseDetails.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingDate.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingSession.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/jackson/JacksonConfiguration.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/controllers/CaseManagementControllerTest.java
  src/test/java/uk/gov/hmcts/sptribs/controllers/DocumentManagementControllerTest.java
  src/test/java/uk/gov/hmcts/sptribs/exception/CaseCreateOrUpdateExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/exception/DocumentUploadOrDeleteExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/CaseManagementServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/ccd/CaseApiServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/cdam/CaseDocumentApiServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/cdam/DssCaseDocumentClientTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/AppsUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1815

#1835 Revert "DTSSTCI-908: Combined all Renovate PR changes as of 9th july
  build.gradle
  src/contractTest/java/uk.gov.hmcts.sptribs/IdamConsumerTest.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ExtendedCaseDetails.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingDate.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingSession.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/jackson/JacksonConfiguration.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/controllers/CaseManagementControllerTest.java
  src/test/java/uk/gov/hmcts/sptribs/controllers/DocumentManagementControllerTest.java
  src/test/java/uk/gov/hmcts/sptribs/exception/CaseCreateOrUpdateExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/exception/DocumentUploadOrDeleteExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/CaseManagementServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/ccd/CaseApiServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/cdam/CaseDocumentApiServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/cdam/DssCaseDocumentClientTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/AppsUtilTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1835

#1839 Dtsstci 896: Add TTL
  src/main/resources/dmn/wa-task-cancellation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-completion-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-permissions-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-types-st_cic-criminalinjuriescompensation.dmn
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1839

#1836 SNI-6261
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocumentTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1836

#1811 DTSSTCI-704
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerStayTheCaseFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/ReinstateCaseFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-reinstate-case-about-to-start.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-stay-the-case-about-to-start.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-stay-the-case-incomplete-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-stay-the-case-submitted.json
  src/functionalTest/resources/responses/response-caseworker-create-bundle-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-reinstate-case-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-stay-the-case-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-stay-the-case-cleared-about-to-start.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStitchBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerStitchBundleTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/ReinstateCaseTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1811

#1842 DTSSTCI-191
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemMigrateGlobalSearchTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemMigrateGlobalSearchFieldsTaskTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1842

#1837 DTSSTCI-916: Migrate DMN and tests from st-wa-task-configuration repo into case-api
  Jenkinsfile_CNP
  bin/import-dmn-diagram.sh
  build.gradle
  charts/sptribs-case-api/Chart.yaml
  charts/sptribs-case-api/values.yaml
  src/main/resources/dmn/wa-task-cancellation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-completion-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-permissions-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-types-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/DmnDecisionTable.java
  src/test/java/uk/gov/hmcts/sptribs/DmnDecisionTableBaseUnitTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaCancellationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CamundaTaskConstants.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CancellationScenarioBuilder.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/ConfigurationExpectationBuilder.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/DelayUntilRequest.java
  src/test/resources/custom-case-data.json
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1837

#1840 DTSSTCI-908: Review and merge renovate PRs for Case API
  build.gradle
  src/contractTest/java/uk.gov.hmcts.sptribs/IdamConsumerTest.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ExtendedCaseDetails.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/HearingDate.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/jackson/JacksonConfiguration.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicUpdateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/controllers/CaseManagementControllerTest.java
  src/test/java/uk/gov/hmcts/sptribs/controllers/DocumentManagementControllerTest.java
  src/test/java/uk/gov/hmcts/sptribs/exception/CaseCreateOrUpdateExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/exception/DocumentUploadOrDeleteExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/CaseManagementServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/ccd/CaseApiServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/cdam/CaseDocumentApiServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/cdam/DssCaseDocumentClientTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/AppsUtilTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, enable-e2e-tests, rel:sptribs-case-api-pr-1840

#1843 DTSSTCI-916
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1843

#1844 DTSSTCI-908: Removing unwanted data classification change
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/ExtendedCaseDetails.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1844

#1846 [DTSSTCI-925] Update initiation DMN for Hearing: Create Summary
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1846

#1848 [DTSSTCI-927] Update Review Time extention request - Judge task
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1848

#1847 [DTSSTCI-926] Update Process Postponement Directions task
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1847

#1841 DTSSTCI-538
  src/functionalTest/resources/responses/response-caseworker-submit-case-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemMigrateCaseFlagsTask.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SystemMigrateCaseLinksTask.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemMigrateCaseFlagsTaskTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SystemMigrateCaseLinksTaskTest.java
Labels: ns:sptribs, prd:sptribs, enable-e2e-tests, rel:sptribs-case-api-pr-1841
