Repository hmcts/sptribs-case-api, pull requests merged in 2024-08, with the labels that each got.

#1852 DTSSTCI-922
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CamundaTaskConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1852

#1851 DTSSTCI-901
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/RespondentContactPartiesFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-hearing-options-about-to-start.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-issue-case-about-to-start.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-issue-decision-unhappy-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-issue-final-decision-unhappy-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-record-listing-about-to-start.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-contact-parties-select-document-mid-event.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-contact-parties-select-document-too-many-mid-event.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-parties-to-contact-mid-event.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-parties-to-contact-minor-fatal-mid-event.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-parties-to-contact-no-contact-selected-mid-event.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-respondent-contact-parties-about-to-start.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-respondent-contact-parties-submitted-error.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-respondent-contact-parties-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-send-order-callback-request.json
  src/functionalTest/resources/responses/response-caseworker-cancel-hearing-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-clear-hearing-options-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-edit-case-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-hearing-options-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-hearing-options-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-issue-case-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-manage-case-flags-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-respondent-contact-parties-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-send-order-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-submit-case-about-to-submit.json
  src/integrationTest/resources/caseworker-clear-hearing-options-response.json
  src/integrationTest/resources/caseworker-hearing-options-about-to-start-response.json
  src/integrationTest/resources/caseworker-hearing-options-mid-event-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ContactPartiesSelectDocument.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/RespondentContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1851

#1853 [DTSSTCI-940] Update description link for Register New Case
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-1853

#1856 [DTSSTCI-942] Update Next Steps - issueCaseToRespondent Task
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-1856

#1864 DTSSTCI-578: add permissions
  bin/utils/idam-lease-service-token.sh
  bin/wa/import-wa-bpmn-diagram.sh
  bin/wa/pull-latest-camunda-wa-files.sh
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1864

#1784 DTSSTCI-822: DAC - Redundant Entry (Submit Case)
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-submit-case-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-submit-case-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1784

#1868 DTSSTCI-962
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/event/CreateCaseIT.java
  src/integrationTest/resources/caseworker-create-case-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ApplicationReceivedNotification.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1868

#1867 DTSSTCI-974
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCaseBuiltFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCaseFlagFT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCaseBuiltIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCaseFlagIT.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseBuilt.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlag.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCaseBuiltTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlagTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1867

#1859 DTSSTCI-921
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemClearInactiveDssDraftCase.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemClearInactiveDssDraftCasesTask.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemClearInactiveDssDraftCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemClearInactiveDssDraftCasesTaskTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1859

#1873 DTSSTCI-975
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerChangeSecurityClassificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCreateBundleIT.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/caseworker-change-security-classification-about-to-submit-response.json
  src/integrationTest/resources/caseworker-create-bundle-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerChangeSecurityClassification.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1873

#1866 DTSSTCI-973
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerBundleStitchCompleteFT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCancelHearingIT.java
  src/integrationTest/resources/caseworker-cancel-hearing-about-to-start-response.json
  src/integrationTest/resources/caseworker-cancel-hearing-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerIssueDecision.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerBundleStitchComplete.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerBundleStitchCompleteTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/page/CaseworkerBundleStitchCompleteTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1866

#1870 [DTSSTCI-945] Update Next Steps - stitchCollateHearingBundle Task
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1870

#1876 Enable WA feature for demo definition file
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1876

#1877 DTSSTCI-977
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseWorkerCreateDraftOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCancelHearingIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCreateHearingSummaryIT.java
  src/integrationTest/resources/caseworker-create-draft-order-about-to-submit-response.json
  src/integrationTest/resources/caseworker-create-draft-order-mid-event-response.json
  src/integrationTest/resources/caseworker-create-hearing-summary-about-to-start-response.json
  src/integrationTest/resources/caseworker-create-hearing-summary-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1877

#1865 [DTSSTCI-944] Update links for Next Steps review tasks with Orders: Create draft
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-1865

#1861 [DTSSTCI-943] Update Next Steps - process tasks (Send Order)
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-1861

#1879 DTSSTCI-921
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemClearInactiveDssDraftCasesTask.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemClearInactiveDssDraftCasesTaskTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1879

#1880 DTSSTCI-976
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseWorkerContactPartiesIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCloseTheCaseIT.java
  src/integrationTest/resources/caseworker-close-the-case-about-to-start-response.json
  src/integrationTest/resources/caseworker-close-the-case-about-to-submit-response.json
  src/integrationTest/resources/caseworker-contact-parties-about-to-start-response.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1880

#1881 DTSSTCI-1084
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-types-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1881

#1884 Tidy up integration test folders
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactPartiesIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrderIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerAddNoteIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseBuiltIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCaseFlagIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerChangeSecurityClassificationIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerClearHearingOptionsIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCaseIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundleIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateHearingSummaryIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditHearingSummaryIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerHearingOptionsIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerPanelCompositionIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerPostponeHearingIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEventIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEventIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/common/event/CreateCaseIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/controllers/CaseManagementControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/sptribs/controllers/DocumentManagementControllerIT.java
  src/integrationTest/resources/responses/caseworker-add-note-response.json
  src/integrationTest/resources/responses/caseworker-cancel-hearing-about-to-start-response.json
  src/integrationTest/resources/responses/caseworker-cancel-hearing-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-change-security-classification-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-clear-hearing-options-response.json
  src/integrationTest/resources/responses/caseworker-close-the-case-about-to-start-response.json
  src/integrationTest/resources/responses/caseworker-close-the-case-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-contact-parties-about-to-start-response.json
  src/integrationTest/resources/responses/caseworker-create-bundle-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-create-case-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-create-draft-order-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-create-draft-order-mid-event-response.json
  src/integrationTest/resources/responses/caseworker-create-hearing-summary-about-to-start-response.json
  src/integrationTest/resources/responses/caseworker-create-hearing-summary-about-to-submit-response.json
  src/integrationTest/resources/responses/caseworker-edit-hearing-summary-response.json
  src/integrationTest/resources/responses/caseworker-hearing-options-about-to-start-response.json
  src/integrationTest/resources/responses/caseworker-hearing-options-mid-event-response.json
  src/integrationTest/resources/responses/caseworker-issue-case-response.json
  src/integrationTest/resources/responses/caseworker-postpone-hearing-response.json
  src/integrationTest/resources/responses/citizen-create-case-about-to-submit-response.json
  src/integrationTest/resources/responses/citizen-create-case-response.json
  src/integrationTest/resources/responses/citizen-document-upload-response.json
  src/integrationTest/resources/responses/citizen-dss-update-case-about-to-submit-response.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1884

#1878 [DTSSTCI-946] Update hyperlink for next steps of completeHearingOutcome task
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1878

#1887 DTSSTCI-946 Add Publish to Camunda Flag for System Events
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemTriggerCompleteHearingOutcome.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemTriggerStitchCollateHearingBundle.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemTriggerCompleteHearingOutcomeTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemTriggerStitchCollateHearingBundleTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1887
