Repository hmcts/sptribs-case-api, pull requests merged in 2024-02, with the labels that each got.

#1682 DTSSTCI-96: Hide recordListingChangeReason while creating a new hearing
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1682

#1683 DTSSTCI-346: Moved preview usernames and passwords to keyvault
  Jenkinsfile_CNP
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1683

#1686 SNI-5364: Order link issue in send order notification
  src/main/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NewOrderIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1686

#1687 Fixing E2E pipeline
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1687

#1692 DTSSTCI-378: Do not support msg and eml files
  src/main/java/uk/gov/hmcts/sptribs/document/model/CICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CICDocumentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocumentTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1692

#1691 Dtsstci-398
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CaseDetailsUpdater.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdCaseDataContentProvider.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdManagementException.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchCaseException.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchService.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdUpdateService.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CaseDetailsUpdaterTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdCaseDataContentProviderTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdConflictExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdManagementExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchCaseExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/service/ScheduledTaskRunnerTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1691

#1677 DTSSTCI-283
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/client/BundlingService.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/Bundle.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/BundleCallback.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/BundleDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/BundleFolder.java
  src/main/java/uk/gov/hmcts/sptribs/document/bundling/model/Callback.java
  src/test/java/uk/gov/hmcts/sptribs/controllers/CaseManagementControllerTest.java
  src/test/java/uk/gov/hmcts/sptribs/controllers/DocumentManagementControllerTest.java
  src/test/java/uk/gov/hmcts/sptribs/controllers/RootControllerTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/CaseDataDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/bundling/BundlingServiceTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/DecisionTemplateContentTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/DocmosisTemplateHelperTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/content/PreviewDraftOrderTemplateContentTest.java
  src/test/resources/CICCaseData.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1677

#1684 Dtsstci 120 - Audit Unit Tests in Case API - Notification Module
  src/main/java/uk/gov/hmcts/sptribs/notification/FormatUtil.java
  src/main/java/uk/gov/hmcts/sptribs/notification/GetAllTemplatesFromNotify.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationHelper.java
  src/main/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCIC.java
  src/main/java/uk/gov/hmcts/sptribs/notification/exception/NotificationException.java
  src/main/java/uk/gov/hmcts/sptribs/notification/exception/NotificationTemplateException.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/NotificationHelperTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/NotificationServiceCICTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/exception/NotificationExceptionTest.java
  src/test/java/uk/gov/hmcts/sptribs/notification/exception/NotificationTemplateExceptionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1684

#1688 Dtsstci 374
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/convert/CaseDetailsConverter.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/convert/CaseDetailsListConverter.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseFlags.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseLinks.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateOldHearing.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/BaseMigration.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemMigrateCaseFlagsTask.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemMigrateCasesTask.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/MigrateRetiredFields.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SetFailedMigrationVersionToZero.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SystemMigrateCaseLinksTask.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/convert/CaseDetailsConverterTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/convert/CaseDetailsListConverterTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseFlagsTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseLinksTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemMigrateOldHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/BaseMigrationTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/SystemMigrateCaseFlagsTaskTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/MigrateRetiredFieldsTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SetFailedMigrationVersionToZeroTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/SystemMigrateCaseLinksTaskTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1688

#1698 DTSSTCI-413
  charts/sptribs-case-api/Chart.yaml
  charts/sptribs-case-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1698

#1699 DTSSTCI-262
  src/functionalTest/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEventFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-dss-update-case-submission-invalid-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-dss-update-case-submission-submitted.json
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DssUpdateCaseSubmissionNotification.java
  src/main/java/uk/gov/hmcts/sptribs/notification/TemplateName.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DssUpdateCaseSubmissionNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1699

#1697 DTSSTCI-235 - Add subject full name above Case number
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1697

#1700 Removing case links tests, to be added this week in our separate repository.
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/LinkCaseTests.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1700

#1693 [DTSSTCI-95] Add hearingCreatedDate to a listing
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerPostponeHearing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelper.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/Listing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/tab/CaseTypeTab.java
  src/main/resources/data/st_cic_test_case.json
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCancelHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerPostponeHearingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/helper/RecordListHelperTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1693
