Repository hmcts/sptribs-case-api, pull requests merged in 2024-10, with the labels that each got.

#1912 [DTSSTCI-949] Add Next Steps description for processFurtherEvidence Task
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1912

#1938 Fix spelling mistake in task name - Review Time extension - Judge
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-types-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1938

#1948 DTSSTCI-1156
  src/main/resources/dmn/wa-task-permissions-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1948

#1954 DTSSTCI-1067
  src/cftlib/java/uk/gov/hmcts/sptribs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseManagementLocation.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRole.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseworkerRASValidationAccess.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/SearchCriteria.java
  src/main/java/uk/gov/hmcts/sptribs/common/ccd/HighLevelDataSetupApp.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/access/CaseworkerRASValidationAccessTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1954

#1930 DTSSTCI-1100
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAFollowUpNoncomplianceOfDirectionsFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1930

#1941 DTSSTCI-1113
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessSetAsideDirectionsFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1941

#1960 DTSSTCI-1067
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CamundaTaskConstants.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/ConfigurationExpectationBuilder.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1960

#1952 DTSSTCI-1105
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/TaskManagementService.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WACompleteHearingOutcomeFT.java
  src/functionalTest/resources/wa/caseworker-cancel-hearing-submit-data.json
  src/functionalTest/resources/wa/caseworker-postpone-hearing-submit-data.json
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1952

#1950 DTSSTCI-1102
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAIssueCaseToRespondentFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1950

#1955 DTSSTCI-1119
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessWrittenReasonsFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1955

#1956 DTSSTCI-1120
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessStrikeOutDirectionsReturnedFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1956

#1951 DTSSTCI-1103
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAIssueCaseToRespondentFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1951

#1949 [DTSSTCI-1157] Update configuration DMN for task due dates
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1949

#1961 DTSSTCI-1144
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/TaskManagementService.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewWithdrawalRequestJudgeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1961

#1962 DTSSTCI-1123
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewNewCaseAndProvideDirectionsLOFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1962

#1964 DTSSTCI-1124
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewTimeExtensionRequestLOFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1964

#1969 DTSSTCI-1130
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewListCaseLOFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1969

#1971 DTSSTCI-1132
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewPostponementRequestLOFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1971

#1972 DTSSTCI-1133
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewReinstatementRequestLOFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1972

#1976 DTSSTCI-1067
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1976

#1973 DTSSTCI-1134
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewOtherRequestLOFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1973

#1989 DTSSTCI-1067
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/UserRolesForAccessProfiles.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/accessprofile/CICAccessProfile.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1989

#1990 DTSSTCI-1163
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1990

#1977 DTSSTCI-1136
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewPostponementRequestJudgeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1977

#1953 DTSSTCI-1118 Process Reinstatement decision notice Task Initiation FT
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessReinstatementDecisionNoticeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1953

#1966 [DTSSTCI-1127] Review listing directions - Legal Officer Task Initiation FT
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewListingDirectionsLOFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1966

#1978 DTSSTCI-1137
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewCorrectionsRequestFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1978

#1980 DTSSTCI-1139
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewReinstatementRequestJudgeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1980

#1982 DTSSTCI-1141
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewStayRequestJudgeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1982

#1983 DTSSTCI-1142
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewNewCaseAndProvideDirectionsJudgeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1983

#1984 DTSSTCI-1143
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewOtherRequestJudgeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1984

#1985 DTSSTCI-1145
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewRule27RequestJudgeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1985

#1986 DTSSTCI-1146
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewListingDirectionsJudgeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1986

#1987 DTSSTCI-1147
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewListCaseJudgeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1987

#1988 DTSSTCI-1148
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewStrikeOutRequestJudgeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1988

#1975 [DTSSTCI-1128] Review withdrawal request - Legal Officer Task Initiation FT
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewWithdrawalRequestLOFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1975

#1963 DTSSTCI-1122 Register New Case Task Completion FT
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/CcdCaseCreator.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/IdamTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/RoleAssignmentService.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/TaskManagementService.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WATaskRegisterNewCaseFT.java
  src/functionalTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestEventConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1963

#1991 DTSSTCI-1149
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAReviewTimeExtensionRequestJudgeFT.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1991

#1993 [DTSSTCI-1165] Regional Hearing Centre Team Lead should see access_requests task in available tasks tab
  src/main/resources/dmn/wa-task-permissions-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaPermissionTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1993

#1992 DTSSTCI-1162
  src/main/resources/dmn/privilege-calendar.json
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CamundaTaskConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1992
