Repository hmcts/sptribs-case-api, pull requests merged in 2024-03, with the labels that each got.

#1705 DTSSTCI-565: Created enable-e2e-tests label to run e2e tests on PRs
  .github/PULL_REQUEST_TEMPLATE.md
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1705, enable-e2e-tests

#1701 [DTSSTCI-330] Prevent documents duplicating in CFV after Bundling
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundle.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundleTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1701, enable-e2e-tests

#1704 DTSSTCI-570
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemove.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1704, enable-e2e-tests

#1706 SNI-5511
  src/functionalTest/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventFT.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-submit-case-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-submit-case-about-to-submit.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1706

#1708 SNI-5511
  src/functionalTest/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventFT.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1708

#1694 DTSSTCI-357 & DTSSTCI-262
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEventFT.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-dss-update-case-submission-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-dss-update-case-submission-empty-docs-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-dss-update-case-submission-invalid-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-dss-update-case-submission-submitted.json
  src/functionalTest/resources/responses/response-dss-update-case-submission-about-to-submit.json
  src/functionalTest/resources/responses/response-dss-update-case-submission-empty-docs-about-to-submit.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDssUpdateCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/EventConstants.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/common/config/AppsConfig.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/DssUpdateCaseSubmissionNotification.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/EdgeCaseDocument.java
  src/main/java/uk/gov/hmcts/sptribs/edgecase/event/Event.java
  src/main/java/uk/gov/hmcts/sptribs/notification/TemplateName.java
  src/main/java/uk/gov/hmcts/sptribs/services/ccd/CaseApiService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDssUpdateCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/DssUpdateCaseSubmissionNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/services/ccd/CaseApiServiceTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1694

#1709 DTSSTCI-357
  src/main/java/uk/gov/hmcts/sptribs/services/ccd/CaseApiService.java
Labels: ns:sptribs, prd:sptribs, enable-e2e-tests, rel:sptribs-case-api-pr-1709

#1714 DTSSTCI-396
  charts/sptribs-case-api/Chart.yaml
  charts/sptribs-case-api/values.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1714

#1715 DTSSTCI-395
  charts/sptribs-case-api/Chart.yaml
  charts/sptribs-case-api/values.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1715

#1702 DTSSTCI-318 Audit Unit Tests in Case API - Common.Notification
  src/main/java/uk/gov/hmcts/sptribs/common/notification/ApplicationReceivedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CancelHearingNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseLinkedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseReinstatedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseStayedNotification.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseUnlinkedNotification.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/ApplicationReceivedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CancelHearingNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseFinalDecisionIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseIssuedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseLinkedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseReinstatedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseStayedNotificationTest.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseUnlinkedNotificationTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1702

#1719 Remove specific image for ccd api gw
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1719
