Repository hmcts/sptribs-case-api, pull requests merged in 2024-06, with the labels that each got.

#1774 DTSSTCI-848
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerPostponeHearingFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-postpone-hearing-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-postpone-hearing-submitted.json
  src/functionalTest/resources/responses/response-caseworker-postpone-hearing-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-postpone-hearing-about-to-submit.json
  src/integrationTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerPostponeHearingIT.java
  src/integrationTest/resources/caseworker-postpone-hearing-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/PostponeReason.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, enable-e2e-tests, rel:sptribs-case-api-pr-1774

#1789 Overwrite CCD Secrets to resolve PR build failures
  charts/sptribs-case-api/values.preview.template.yaml
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1789

#1786 DTSSCI-753
  src/functionalTest/resources/responses/response-caseworker-edit-record-listing-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-hearing-options-about-to-start.json
  src/integrationTest/resources/caseworker-hearing-options-about-to-start-response.json
  src/main/java/uk/gov/hmcts/sptribs/recordlisting/LocationService.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1786

#1790 DTSSTCI-861
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/sptribs/services/ccd/CaseApiService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/sptribs/services/ccd/CaseApiServiceTest.java
Labels: ns:sptribs, prd:sptribs, enable-e2e-tests, rel:sptribs-case-api-pr-1790

#1787 DTSSTCI 866
  src/functionalTest/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemTriggerStitchCollateHearingBundleFT.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CaseData.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemTriggerCompleteHearingOutcome.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemTriggerStitchCollateHearingBundle.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/wa/SystemTriggerCompleteHearingOutcomeTask.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/schedule/wa/SystemTriggerStitchCollateHearingBundleTask.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemTriggerCompleteHearingOutcomeTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/event/SystemTriggerStitchCollateHearingBundleTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/wa/SystemTriggerCompleteHearingOutcomeTaskTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/wa/SystemTriggerStitchCollateHearingBundleTaskTest.java
Labels: ns:sptribs, prd:sptribs, enable-e2e-tests, rel:sptribs-case-api-pr-1787

#1781 DTSSTCI702
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerIssueDecisionFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerIssueFinalDecisionFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerLinkCaseFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerMaintainLinkCaseFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerManageCaseFlagFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerManageOrderDueDataFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-issue-decision-callback-request.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-issue-decision-unhappy-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-issue-final-decision-callback-request.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-issue-final-decision-unhappy-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-issue-final-decision-upload-document-mid-event.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-link-case-bad-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-link-case-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-maintain-link-case-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-maintain-link-case-unhappy-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-manage-case-flag-callback-request.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-manage-order-due-date-about-to-start.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-manage-order-due-date-callback-request.json
  src/functionalTest/resources/responses/response-caseworker-issue-decision-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-issue-final-decision-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-manage-case-flags-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-manage-order-due-date-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-manage-order-due-date-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerMaintainLinkCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerManageCaseFlag.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageDueDatesTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerLinkCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerMaintainLinkCaseTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, enable-e2e-tests, rel:sptribs-case-api-pr-1781

#1797 DTSSTCI-840
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerIssueCaseFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-issue-case-submitted.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/MessageUtilTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1797

#1796 DTSSTCI-860
  src/functionalTest/resources/responses/response-caseworker-submit-case-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, enable-e2e-tests, rel:sptribs-case-api-pr-1796

#1802 DTSSTCI-864
  src/functionalTest/resources/responses/response-dss-update-case-submission-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEvent.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEventTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1802

#1798 DTSSTCI-865
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/CloseCaseConsentOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CloseReason.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
  src/main/java/uk/gov/hmcts/sptribs/common/CommonConstants.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotification.java
  src/test/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotificationTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1798
