Repository hmcts/sptribs-case-api, pull requests merged in 2024-05, with the labels that each got.

#1533 DTSSTCI-89: New referral events to clear any existing data
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudge.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficer.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToJudgeTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerReferToLegalOfficerTest.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1533, enable-e2e-tests

#1749 DTSSTCI-699
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseWorkerContactPartiesFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseWorkerCreateDraftOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCloseTheCaseFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCreateBundleFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-close-case-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-close-case-mid-event.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-close-case-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-close-case-without-email-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-contact-parties-about-to-start.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-contact-parties-submitted.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-create-bundle-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-create-draft-order-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-create-draft-order-empty-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-create-draft-order-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-close-case-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-close-case-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-contact-parties-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-create-bundle-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-create-draft-order-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-create-draft-order-empty-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-create-draft-order-mid-event.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerContactParties.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloneBundle.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloseTheCase.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundle.java
  src/main/java/uk/gov/hmcts/sptribs/common/notification/CaseWithdrawnNotification.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCloseTheCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerCreateDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCloneBundleTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerContactPartiesTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1749

#1745 DTSSTCI698
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseWorkerCreateDraftOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerAddNoteFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerBundleStitchCompleteFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCancelHearingFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCaseBuiltFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCaseFlagFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerChangeSecurityClassificationFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerCloseTheCaseFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-cancel-hearing-submitted_invalid_party.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-multiple-notes-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-stich-bundle-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-general.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata.json
  src/functionalTest/resources/responses/response-caseworker-add-multiple-notes-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-add-notes-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-build-case-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-cancel-hearing-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-cancel-hearing-record-notify-parties-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-cancel-hearing-submitted.json
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1745

#1765 DTSSTCI-700
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerDocumentManagementAmendFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerDocumentManagementRemoveFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerEditBundleFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerEditCaseFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-document-management-amend-request.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-document-management-remove-request.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-edit-bundle-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-edit-case-request.json
  src/functionalTest/resources/responses/response-caseworker-document-management-amend-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-document-management-amend-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-document-management-remove-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-document-management-remove-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-edit-bundle-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-edit-case-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementAmend.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1765

#1769 DTSSTCI-825
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundle.java
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocument.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerCreateBundleTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocumentTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, enable-e2e-tests, rel:sptribs-case-api-pr-1769

#1770 DTSSTCI-701 - Create functional tests for Caseworker Event package - Part 4
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerEditCicaCaseDetailsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerEditDraftOrderFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerEditRecordListingFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerHearingOptionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/caseworker/CaseworkerIssueCaseFT.java
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-edit-cica-case-details-request.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-edit-draft-order-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-edit-draft-order-mid-event.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-edit-record-listing-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-edit-record-listing-mid-event.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-edit-record-listing-no-parties-about-to-submit.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-hearing-options-null-list-mid-event.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-issue-case-about-to-start.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-issue-case-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-edit-cica-case-details-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-edit-draft-order-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-edit-draft-order-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-edit-record-listing-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-edit-record-listing-about-to-submit.json
  src/functionalTest/resources/responses/response-caseworker-edit-record-listing-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-hearing-options-null-list-mid-event.json
  src/functionalTest/resources/responses/response-caseworker-issue-case-about-to-start.json
  src/functionalTest/resources/responses/response-caseworker-issue-case-about-to-submit.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditCicaCaseDetails.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrder.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListing.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCase.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditCicaCaseDetailsTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerEditDraftOrderTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerEditRecordListingTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerIssueCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestConstants.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1770

#1777 DTSSTCI-850 - E2E fix
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1777

#1778 DTSSTCI-850 - E2E tests selectors fix
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/Case.java
  src/e2eTests/java/uk/gov/hmcts/sptribs/e2e/DocumentManagement.java
Labels: ns:sptribs, prd:sptribs, enable-e2e-tests, rel:sptribs-case-api-pr-1778

#1779 Set update case enabled to true in jenkins cnp
  Jenkinsfile_CNP
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-1779

#1772 DTSSTCI-850
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagement.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, enable-e2e-tests, rel:sptribs-case-api-pr-1772

#1782 DTSSTCI-859
  src/main/java/uk/gov/hmcts/sptribs/caseworker/model/CaseStay.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1782

#1775 SNI-5882
  src/main/java/uk/gov/hmcts/sptribs/document/DocumentUtil.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CICDocument.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CaseworkerCICDocumentUpload.java
  src/test/java/uk/gov/hmcts/sptribs/document/DocumentUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/document/model/CICDocumentTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-1775
