Repository hmcts/sptribs-case-api, pull requests merged in 2025-08, with the labels that each got.

#2226 DTSSTCI-251: Remove references to "EdgeCase" in Case API
  src/functionalTest/java/uk/gov/hmcts/sptribs/controllers/CaseManagementControllerFT.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/DssCaseData.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicCreateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicDssUpdateCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEvent.java
  src/main/java/uk/gov/hmcts/sptribs/controllers/model/DssCaseDataRequest.java
  src/main/java/uk/gov/hmcts/sptribs/document/model/CitizenCICDocument.java
  src/test/java/uk/gov/hmcts/sptribs/citizen/event/CicSubmitCaseEventTest.java
  src/test/java/uk/gov/hmcts/sptribs/controllers/model/DssCaseDataRequestTest.java
  src/test/java/uk/gov/hmcts/sptribs/testutil/TestDataHelper.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-2226

#2196 [DTSSTCI-1293] Update FT to check for documents
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/CcdCaseCreator.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/IdamTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/ServiceAuthenticationGenerator.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/testutil/TaskManagementService.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessCaseWithdrawalDirectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessCorrectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessDirectionsReListedCaseFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessDirectionsReListedCaseWithin5DaysFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessDirectionsReturnedFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessListingDirectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessOtherDirectionsReturnedFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessPostponementDirectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessReinstatementDecisionNoticeFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessRule27DecisionFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessSetAsideDirectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessStayDirectionsFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessStrikeOutDirectionsReturnedFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessTimeExtensionDirectionsReturnedFT.java
  src/functionalTest/java/uk/gov/hmcts/sptribs/wa/WAProcessWrittenReasonsFT.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/sptribs/services/cdam/CaseDocumentClientApi.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, pr-values:wa-ft-tests, rel:sptribs-case-api-pr-2196

#2203 DTSSTCI 909 - SPTribs CaseAPI - incorrect text on 'Amend Due Date' page for Orders: Manage Due Date
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/AmendOrderDueDates.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-2203

#2242 DTSSTCI-1385: Accessibility - Heading structure on case events
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-2242

#2244 DTSSTCI-1385: Accessibility - Heading structure on case events (REVERTING)
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/State.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, enable-e2e-tests, rel:sptribs-case-api-pr-2244
