Repository hmcts/sptribs-case-api, pull requests merged in 2025-07, with the labels that each got.

#2175 update fortify dependency naming
  build.gradle
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-2175

#2153 DTSSTCI-1303: Organise Case Lists in date order
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-manage-order-due-date-about-to-start.json
  src/functionalTest/resources/request/casedata/ccd-callback-casedata-caseworker-manage-order-due-date-callback-request.json
  src/integrationTest/resources/responses/caseworker-manage-order-due-date-about-to-submit-response.json
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseWorkerManageOrderDueDate.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerClearHearingOptions.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerSendOrder.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/RetiredFields.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/search/CaseFieldsConstants.java
  src/main/java/uk/gov/hmcts/sptribs/systemupdate/service/CcdSearchService.java
  src/main/resources/data/st_cic_test_case.json
  src/test/java/uk/gov/hmcts/sptribs/ciccase/model/CicCaseTest.java
  src/test/java/uk/gov/hmcts/sptribs/ciccase/workbasket/WorkBasketResultFieldsTest.java
  src/test/java/uk/gov/hmcts/sptribs/systemupdate/schedule/migration/task/MigrateRetiredFieldsTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, enable-e2e-tests, pr-values:wa, rel:sptribs-case-api-pr-2153

#2179 DTSSTCI-1322
  src/functionalTest/resources/responses/response-caseworker-submit-test-case.json
  src/main/java/uk/gov/hmcts/sptribs/common/event/CreateTestCase.java
  src/main/resources/data/sample_file.pdf
  src/main/resources/data/st_cic_test_case.json
  src/test/java/uk/gov/hmcts/sptribs/common/event/CreateTestCaseTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-2179

#2178 [DTSSTCI-932] make amend document list mandatory
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/DocumentManagementSelectDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/ciccase/model/CicCase.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-case-api-pr-2178

#2044 DTSSTCI-1240
  src/main/resources/dmn/wa-task-completion-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-permissions-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-types-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CamundaTaskConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-2044

#2043 DTSSTCI-1239
  src/main/resources/dmn/wa-task-completion-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-permissions-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-types-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CamundaTaskConstants.java
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-2043

#2041 DTSSTCI-1247
  src/main/resources/dmn/wa-task-completion-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-permissions-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-types-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CamundaTaskConstants.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-2041

#2038 DTSSTCI-1248
  src/main/resources/dmn/wa-task-completion-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-permissions-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-types-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CamundaTaskConstants.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-2038
