Repository hmcts/sptribs-case-api, pull requests merged in 2025-05, with the labels that each got.

#2066 Test dependencies/vulnerabilities
  README.md
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sptribs, prd:sptribs, rel:sptribs-case-api-pr-2066

#2062 [DTSSTCI-1263] Upgrade Java and Servicebus to OCI Charts
  charts/sptribs-case-api/Chart.yaml
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-2062

#2045 DTSSTCI-1241
  src/main/resources/dmn/wa-task-completion-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-permissions-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-types-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CamundaTaskConstants.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-2045

#2048 DTSSTCI-1243
  src/main/resources/dmn/wa-task-completion-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-permissions-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-types-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CamundaTaskConstants.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-2048

#2042 DTSSTCI-1242
  src/main/resources/dmn/wa-task-completion-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-configuration-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-initiation-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-permissions-st_cic-criminalinjuriescompensation.dmn
  src/main/resources/dmn/wa-task-types-st_cic-criminalinjuriescompensation.dmn
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskCompletionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskTypesTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaConfigurationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaInitiationTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmn/CamundaTaskWaPermissionTest.java
  src/test/java/uk/gov/hmcts/sptribs/dmnutils/CamundaTaskConstants.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-2042

#2068 [DTSSTCI-1257] Fix Decision and Final Decision Document Removal
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/CaseworkerDocumentManagementRemove.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/event/page/ShowCaseDocuments.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DecisionDocumentListUtil.java
  src/main/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentRemoveListUtil.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DecisionDocumentListUtilTest.java
  src/test/java/uk/gov/hmcts/sptribs/caseworker/util/DocumentRemoveListUtilTest.java
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, pr-values:wa, rel:sptribs-case-api-pr-2068
